<div class="flex flex-column mt-5">
    <p-toast></p-toast>
    <div class="align-self-center mt-auto mb-auto">

        <div class="pages-panel card flex flex-column">
            <div class="text-center">
                <!-- <img src="assets/layout/images/reset-img.png"> -->
                <h4>{{'auth.resetpass.header' | translate}}</h4>
            </div>
            <div class="pages-detail mb-3 px-6">{{'auth.resetpass.header_text' | translate}}</div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input-panel flex flex-column">
                    <div class="p-inputgroup mt-3">
                        <span class="p-input-icon-left width-100">
                            <i class="pi pi-key"></i>
                            <input class="width-100" type="text" id="oldPass" pInputText formControlName="oldPass" placeholder="{{'auth.form.password' | translate}}" required>
                        </span>
                    </div>
                    <div class="p-inputgroup mt-3">
                        <span class="p-input-icon-left width-100">
                            <i class="pi pi-key"></i>
                            <input class="width-100" type="text" id="newPass" pInputText formControlName="newPass" placeholder="{{'auth.form.newPass' | translate}}" required>
                        </span>
                    </div>
                    <button type="submit" pButton pRipple label="{{'auth.resetpass.reset' | translate | uppercase}}" class="w-full p-3 p-button-info mt-5"></button>
                </div>
            </form>
        </div>
    </div>
</div>
