<div class="layout-invoice-page" *ngIf="master">
    <p-toast></p-toast>

    <p-toolbar styleClass="mb-3 align-items-start">
        <ng-template pTemplate="left">
            <app-details-card [master]="master" type="claim"></app-details-card>
        </ng-template>
        <ng-template pTemplate="right" *ngIf="editAuth==true">
            <div class="flex flex-wrap">
                <div class="mr-2 md:mr-0">
                    <p-confirmPopup></p-confirmPopup>
                    <p-menu #menu [popup]="true" [model]="menuItems" [style]="{'width':'200px'}"></p-menu>
                    <button pButton pRipple [disabled]="editAuth==false" class="p-button-warning p-button-sm md:mr-2"
                        type="button" icon="pi pi-fw pi-cog" label="{{ 'operations.actions' | translate }}"
                        (click)="menu.toggle($event)"></button>
                </div>
                <div class="d-none md:block">
                    <button pButton pRipple label="Review & Update Claim" class="p-button-success p-button-sm md:mr-2"
                        [disabled]="!((master.status.id == 1 || master.status.id == 13 || master.status.id == 12) && editAuth==true)"
                        [routerLink]="['/add-claim']" [queryParams]="{ update: true}"></button>
                </div>
                <div class="">
                    <button pButton pRipple label="Survey" class="p-button-success p-button-sm"
                        [disabled]="editAuth==false || master.status.id == 1  || master.status.id == 11 ||  master.status.id == 7"
                        (click)="onEditClaim()"></button>
                </div>
                <div class="md:hidden mt-2">
                    <button pButton pRipple label="Review & Update Claim" class="p-button-success p-button-sm md:mr-2"
                        [disabled]="!((master.status.id == 1 || master.status.id == 13 || master.status.id == 12) && editAuth==true)"
                        [routerLink]="['/add-claim']" [queryParams]="{ update: true}"></button>
                </div>
            </div>

        </ng-template>
    </p-toolbar>

    <div class="grid layout-invoice-content">
        <div class="col-12">
            <div class="mt-5">
                <p-tabView [(activeIndex)]="activeTab">
                    <p-tabPanel header="Claim Information">
                        <div class="pt-5 text-center" *ngIf="isFetching">
                            <p-progressSpinner [style]="{width: '50px', height: '50px', textAlign: 'center'}"
                                styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                                animationDuration=".5s"></p-progressSpinner>
                        </div>
                        <div class="py-5 text-center" *ngIf="!isFetching && details.length == 0">
                            {{ 'claim.tableColumn.claimNotFound' | translate }}
                        </div>
                        <p-table *ngIf="details.length > 0" dataKey="id" #dt [rows]="10" [value]="details"
                            styleClass="p-invoice-datatable-responsive pb-3" [paginator]="true" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pColumn="id">{{ 'common.id' | translate }}</th>
                                    <th>{{ 'job.form.privacy' | translate }}</th>
                                    <th>{{ 'bid.bidDetails.partName' | translate }}</th>
                                    <th>{{ 'claim.tableColumn.requestFor' | translate }}</th>
                                    <th [hidden]="role == 2">
                                        {{'operations.actions' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-part>
                                <tr>
                                    <td>
                                        {{part.id}}
                                    </td>
                                    <td>
                                        {{master.privacy}}
                                    </td>
                                    <td>
                                        {{part.part.name}}
                                    </td>
                                    <td>
                                        {{part.partOption}}
                                    </td>
                                    <td>
                                        <button pButton pRipple icon="pi pi-times"
                                            class="p-button-rounded p-button-warning mt-2"
                                            [disabled]="(editAuth===false || deleteAuth===false || (this.master.status.id < 12 && this.master.status.id > 1))"
                                            (click)="deletePart(part.id)"></button>
                                    </td>
                                    <!-- <td [hidden]="role > 1">
                                        <button pButton pRipple icon="pi pi-eye" [disabled]=""
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBidsByRequest(part)"></button>
                                    </td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="viewAuth !== true" header="{{ 'job.tableColumn.receivedBids' | translate: {type: 'Garages'} }}">
                        <div class="py-5 px-3">
                            <button [disabled]="bidDto.length == 0" (click)="onCompareBids()" pButton pRipple
                                type="button" label="Compare Bids"
                                class="p-button-rounded bg-indigo-100 text-indigo-600 border-0 font-light px-5"></button>
                        </div>
                        <div class="py-5 text-center" *ngIf="!isFetching && bidDto.length == 0">
                            {{ 'claim.tableColumn.claimBidsNotFound' | translate }}
                        </div>
                        <p-table *ngIf="bidDto.length > 0 && visible" [columns]="cols" [rows]="10" [value]="bidDto"
                            styleClass="p-invoice-datatable-responsive pb-3" [paginator]="true"
                            responsiveLayout="scroll">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>{{ 'common.select' | translate }}</th>
                                    <th pColumn="supplierName">{{ 'bid.tableColumn.supplierName' | translate: {type: 'Garage'} }}</th>
                                    <th pColumn="status">{{ 'bid.tableColumn.status' | translate }}</th>
                                    <th>Type Of Bid</th>
                                    <th pColumn="bidDate">{{ 'bid.tableColumn.bidDate' | translate }}</th>
                                    <th pColumn="bidValue">{{ 'bid.tableColumn.bidValue' | translate }}</th>
                                    <th [hidden]="printingMode===true">{{
                                        'bid.title' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bid>
                                <tr>
                                    <td>
                                        <p-checkbox [binary]="true" (onChange)="onToggleBid(bid)"></p-checkbox>
                                    </td>
                                    <td>
                                        {{bid.supplierName? bid.supplierName : bid.userFirstName}}
                                    </td>
                                    <td>
                                        {{getStatusName(bid.statusId)}}
                                    </td>
                                    <td><p-badge value="{{bid.originalPrice == 0? 'Bid by Total' : 'Bid by Part'}}"
                                            severity="{{bid.originalPrice == 0? 'success' : 'info'}}"></p-badge></td>
                                    <td>
                                        {{bid.bidDate | date: 'dd/MM/yyyy hh:mm'}}
                                    </td>
                                    <td>
                                        {{bid.lumpSumPrice | number}}
                                    </td>
                                    <td [hidden]="printingMode===true">
                                        <button pButton pRipple icon="pi pi-eye"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBid(bid)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="viewAuth == true" header="{{ 'job.tableColumn.addBids' | translate }}">
                        <app-new-bid type="new claimBid" *ngIf="details.length > 0" [requests]="details"></app-new-bid>
                        <div class="py-5 text-center" *ngIf="!isFetching && details.length == 0">
                            {{ 'claim.tableColumn.claimNotFound' | translate }}
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<!-- confirm action dialog -->
<p-dialog [(visible)]="confirmActionDialog" header="{{ 'operations.confirmAction' | translate}}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span><b>{{ 'operations.confirmActionMessage' | translate }}</b></span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="confirmActionDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirm()"></button>
    </ng-template>
</p-dialog>

<!-- bids by request dialog -->
<p-dialog [(visible)]="bidDetailsDialog" [modal]="true" styleClass="" (onHide)="closeBidDialog()"
    [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '85vw' }">
    <p-toolbar styleClass="mb-2 width-100">
        <ng-template pTemplate="left" class="mb-2 md:mb-0">
            <p class="font-medium muted-text text-xl mr-5">{{'bid.bidDialog.titleByGarage' | translate }}
                {{supplierName?
                supplierName : '-'}}</p>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <button pButton pRipple type="button" label="{{ 'operations.approve' | translate }}"
                        icon="pi pi-check" (click)="approveBidDialog = true"
                        [disabled]="editAuth == false || currentBidStatus > 1" class="p-button-success mr-2"></button>
                </div>

                <div class="col-12 md:col-6">
                    <button pButton pRipple type="button" label="{{ 'operations.reject' | translate }}"
                        icon="pi pi-times" (click)="rejectBidDialog = true"
                        [disabled]="editAuth ==false  || currentBidStatus > 2" class="p-button-danger mr-2"></button>
                </div>

                <!-- <div class="col-12 md:col-2">
                    <button pButton pRipple type="button" icon="pi pi-times" (click)="closeBidDialog()"></button>
                </div> -->
            </div>
        </ng-template>
    </p-toolbar>
    <ng-template pTemplate="content">
        <p-table #dt [value]="currentBid" *ngIf="currentBid[0].originalPrice > 0" [columns]="cols" [rows]="10"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pColumn="id">Part Name</th>
                    <!-- <th pColumn="supplierName">{{ 'bid.bidDetails.supplierName' | translate}}
                    </th> -->
                    <th pColumn="warranty">{{ 'bid.bidDetails.warranty' | translate }}
                    </th>
                    <th pColumn="deliverDays">{{ 'bid.bidDetails.deliverDays' | translate }}
                    </th>
                    <th pColumn="originalPrice">{{ 'bid.bidDetails.originalPrice' | translate }}
                    </th>
                    <th pColumn="discount">{{ 'bid.bidDetails.discount' | translate }}
                    </th>
                    <th>
                        Service Price
                    </th>
                    <th pColumn="vat">{{ 'bid.bidDetails.vat' | translate }}
                    </th>
                    <!-- <th pColumn="comment">{{ 'bid.bidDetails.comment' | translate: {name: 'garage'} }}
                    </th> -->
                    <th pColumn="totalPrice">{{ 'bid.bidDetails.totalPrice' | translate }}
                    </th>
                    <!-- <th pColumn="status">{{ 'common.status' | translate }}
                    </th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bid>
                <tr>
                    <td>{{bid.part.name}}</td>
                    <!-- <td>
                        {{supplierName}}
                        <i (click)="showModal(bid)" style="cursor: pointer; border-right: 1px solid #dee2e6;"
                            class="pi pi-images fs-large m-2 ml-3 text-blue-500"></i>
                    </td> -->
                    <td>
                        {{bid.warranty ? bid.warranty : 0}} Days
                    </td>
                    <td>
                        {{bid.availability? bid.availability : 0}} Days
                    </td>
                    <td>
                        {{bid.originalPrice}}
                    </td>
                    <td>
                        {{bid.discount? bid.discount : 0 }} {{bid.discountType == 'flat'? '%' : ' OMR'}}
                    </td>
                    <td>
                        {{bid.servicePrice + ' OMR'}}
                    </td>
                    <td>
                        {{bid.vat}}
                    </td>
                    <!-- <td>
                        {{bid.comment}}
                    </td> -->
                    <td>
                        {{bid.price | number}}
                    </td>
                    <!-- <td>
                        {{getStatusName(bid.statusId)}}
                    </td> -->
                </tr>
            </ng-template>
        </p-table>
        <p-table [value]="currentBid" *ngIf="currentBid[0].originalPrice == 0">
            <ng-template pTemplate="header">
                <tr>
                    <th pColumn="id">Part Name</th>
                    <!-- <th pColumn="comment">Comment/th> -->
                    <th pColumn="totalPrice">{{ 'bid.bidDetails.totalPrice' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bid let-ri="rowIndex">
                <tr *ngIf="ri == 0">
                    <td>
                        <span *ngFor="let detail of details; let index = i;">
                            {{detail.part.name}}<span *ngIf="details.length > 1 && i < (details.length - 1) ">,</span>
                        </span>
                    </td>
                    <!-- <td>
                        {{currentBid.}}
                    </td> -->
                    <td>
                        {{currentBidLumpsum | number}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
    <!-- {{currentBid | json}} -->
</p-dialog>


<p-dialog [(visible)]="approveBidDialog" header="{{ 'job.operations.approveBid' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-check-circle mr-3" style="font-size: 2rem"></i>
        <span [ngStyle]="{color:'var(--green-700)'}">
            <h6>{{ 'job.operations.approveBids' | translate: {type: 'garages'} }}</h6>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
            (click)="approveBidDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm"
            (click)="approveBid()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="rejectBidDialog" header="{{ 'job.operations.rejectBid' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-times-circle mr-3" style="font-size: 2rem"></i>
        <span [ngStyle]="{color:'var(--orange-700)'}">
            <h6>{{ 'job.operations.rejectBids' | translate: {type: 'garages'} }}</h6>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
            (click)="rejectBidDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm" (click)="rejectBid()"></button>
    </ng-template>
</p-dialog>


<!-- compare bids dialoge -->
<p-dialog contentStyleClass="customeDialoagContentt" styleClass="customeDialoag"
    header="{{ 'bid.compareBids' | translate }}" [(visible)]="displayCompareBids" [modal]="true" [style]="{ width: '95vw' }" [draggable]="false" [resizable]="false"
    (onHide)="onHideCompareBids()">
    <div class="p-datatable p-datatable-gridlines">
        <table class="p-datatable-table" id="bids-table" #bidsTable [style]="{'min-width': '50rem'}">
            <thead class="p-datatable-thead">
                <tr>
                    <th>{{ 'request.tableColumn.partName' | translate }}</th>
                    <th>{{ 'common.supplier' | translate }}</th>
                    <th>{{ 'bid.bidDetails.partType' | translate }}</th>
                    <th>{{ 'bid.bidDetails.warranty' | translate }}</th>
                    <th>{{ 'bid.bidDetails.deliverDays' | translate }}</th>
                    <th>{{ 'bid.bidDetails.qty' | translate }}</th>
                    <th>{{ 'bid.bidDetails.originalPrice' | translate }}</th>
                    <th>{{ 'bid.bidDetails.discount' | translate }}</th>
                    <th>{{ 'bid.bidDetails.vat' | translate }}</th>
                    <th>{{ 'bid.bidDetails.price' | translate }}</th>
                    <th>servicePrice</th>
                    <th>{{ 'bid.bidDetails.totalPrice' | translate }}</th>
                </tr>
            </thead>
            <tbody class="p-element p-datatable-tbody">
                <tr *ngFor="let part of isSumLump? sumLumpBids : modifiedBids">
                    <th class="border-1 border-300">{{part.part}}</th>
                    <td class="p-0">
                <tr class="flex flex-column">
                    <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}" class="p-2"
                        *ngFor="let bid of part.bids; let i = index">
                        {{bid.supplierName}}
                    </td>
                </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.partType == 1? 'Genuine-OEM' : bid.partType == 2? 'Aftermarket' : 'Used'}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">{{bid.warranty}}</td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.availability}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.qty}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.originalPrice | number}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.discount}} {{bid.discountType == 'flat'? 'OMR' : '%'}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.vat}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.price | number}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.servicePrice | number}}
                        </td>
                    </tr>
                </td>
                <td class="p-0">
                    <tr class="flex flex-column">
                        <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                            class="p-2" *ngFor="let bid of part.bids; let i = index">
                            {{bid.price + bid.servicePrice | number}}
                        </td>
                    </tr>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template pTemplate="footer">
        <div class="text-center pt-3">
            <p-button (click)="downloadPdf()" label="{{ 'bid.bidDialog.download' | translate }}"
                [disabled]="printAuth===false"
                styleClass="p-button bg-indigo-100 text-indigo-600 border-0 font-light px-5"></p-button>
            <p-button (click)="displayCompareBids=false" label="{{ 'bid.bidDialog.changeSupp' | translate: {'name' : 'Garage'} }}"
                styleClass="p-button"></p-button>
        </div>
    </ng-template>
</p-dialog>


<!-- delete claim part dialoge -->
<p-dialog [(visible)]="deletePartDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>{{ 'claim.form.deletePartMsg' | translate }}</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="deletePartDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDeletePart()"></button>
    </ng-template>
</p-dialog>
