<div class="flex md:flex-row flex-column py-2">
    <div class="md:mr-3 mb-3 md:mb-0 relative" style="min-width: 150px;">
        <p-skeleton animation="{{master.car?.document.length == 0? 'none' : 'wave'}}" class="absolute top-0 left-0 z-1"
            size="150px" *ngIf="!imageLoaded && master.car?.document !== null"></p-skeleton>
        <div class="height-100 align-items-center bg-black-alpha-20 flex flex-column justify-content-center rounded-normal"
            *ngIf="!imageLoaded && master.car?.document == null">
            <p-message styleClass="mx-2 text-center my-4 md:my-0" severity="warn" text="no images"></p-message>
        </div>
        <img (load)="imageLoaded = true" class="rounded-large shadow-3" width="150"
            src="{{master.car?.document? 'http://letsgo-oman.com:6060/api/v1/document/' + master.car?.document?.name : ''}}"
            alt="">
    </div>
    <div class="py-2">
        <div class="mb-3">
            <h6 class="mb-2">{{master.jobTitle || master.claimTitle}}</h6>
            <p class="mb-0 font-medium muted-text">{{'car.form.spec' | translate}}:
                {{master.car.carModelTypeId == 1 ? 'GCC' : master.car.carModelTypeId == 2 ?
                'Others': 'USA'}}</p>
            <p class="font-medium muted-text">{{'job.tableColumn.carChassisNumber' | translate}}:
                {{master.car.chassisNumber}}</p>
        </div>
        <div class="flex mb-3">
            <div class="mr-2 md:mr-5" *ngIf="type !== 'claim'">
                <h6 class="mb-2">{{'job.form.status' | translate}}</h6>
                <p *ngIf="master.status.nameEn === 'Open'" class="font-medium muted-text text-blue-500">
                    {{master.status.nameEn}}</p>
                <p *ngIf="master.status.nameEn === 'Approved'" class="font-medium muted-text text-green-500">
                    {{master.status.nameEn}}</p>
                <p *ngIf="master.status.nameEn === 'Canceled'" class="font-medium muted-text text-orange-500">
                    {{master.status.nameEn}}</p>
                <p *ngIf="master.status.nameEn === 'Confirmed'" class="font-medium muted-text text-green-500">
                    {{master.status.nameEn}}</p>
            </div>
            <div class="mr-2 md:mr-5">
                <h6 class="mb-2">{{'job.form.claimNo' | translate}}</h6>
                <p class="font-medium muted-text">{{master.claimNo}}</p>
            </div>
            <div class="mr-2 md:mr-5" *ngIf="type !== 'claim' && master.jobNo">
                <div class="mr-3 flex align-items-center">
                    <h6 class="mb-2">{{'job.tableColumn.jobNo' | translate}} </h6>
                </div>
                <div *ngIf="role" class="mr-2 flex align-items-center">
                    <p class="font-medium muted-text" style="display: flex; align-items: flex-start; cursor: pointer;"
                        title="Edit Job Number" (click)="editJob()"><span class="text-blue-500">{{master.jobNo}}</span>
                        <span style="margin-left: 5px;"><i class="pi pi-pencil"></i></span>
                    </p>
                </div>
                <p *ngIf="!role" class="font-medium muted-text">{{master.jobNo}}</p>
            </div>
            <div class="mr-2 md:mr-5" *ngIf="type !== 'claim' && master.privacy && role">
                <div class="mr-3 flex align-items-center">
                    <h6 class="mb-2">{{ 'request.tableColumn.privacy' | translate }} </h6>
                </div>
                <div *ngIf="role" class="mr-2 flex align-items-center">
                    <p class="font-medium muted-text" style="display: flex; align-items: flex-start; cursor: pointer;"
                        title="Edit privacy" (click)="master.status.id !== 1? null : editJob()" [disabled]="!(master.status.id == 1 && editAuth==true) "><span class="text-blue-500">{{master.privacy}}</span>
                        <span style="margin-left: 5px;"><i class="pi pi-pencil"></i></span>
                    </p>
                </div>
                <p *ngIf="!role" class="font-medium muted-text">{{master.privacy}}</p>
            </div>
            <div class="mr-2 md:mr-5">
                <h6 class="mb-2">{{'job.form.garageLocation' | translate}}</h6>
                <p class="font-medium muted-text">{{master.location? master.location : master.officeLocation?
                    master.officeLocation : '-'}}
                </p>
            </div>
            <div *ngIf="type == 'claim'">
                <h6 class="mb-2">Bid Closing Date</h6>
                <p class="font-medium text-indigo-600">{{master.bidClosingDate? (master.bidClosingDate | date) : '-'}}
                </p>
            </div>
        </div>
    </div>
</div>
