<div class="grid">
	<div class="col-12">
		<div class="card">
			<p class="text-lg font-bold">{{'UserRoles.title' | translate}}</p>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="{{'USERMAINMENU.NEW' | translate}}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="{{'USERSUBMENU.DIALOG.DELETEAUTH' | translate}}" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUserRoles()" [disabled]="!selectedUserRoles || !selectedUserRoles.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="{{'USER.EXPORT' | translate}}" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
			<p-table #dt [value]="userRoles" [columns]="cols" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['userId','roleId']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="{{'operations.tableFilter.clear' | translate}}" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
                        <th pSortableColumn="userId">{{'UserRoles.UserId' | translate}} <p-sortIcon field="userId"></p-sortIcon></th>
						<th pSortableColumn="roleId">{{'UserRoles.RoleId' | translate}} <p-sortIcon field="roleId"></p-sortIcon></th>
                        <th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-userRole>
					<tr>
						<td style="min-width: 12rem;">
							{{userRole.userId}}
						</td>
                        <td style="min-width: 12rem;">
							{{userRole.roleId}}
						</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUserRole(userRole)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mt-2" (click)="deleteUserRole(userRole)"></button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">{{'UserRoles.notFound' | translate}}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="7">{{'UserRoles.loading' | translate}}</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>
        <p-dialog [(visible)]="userRoleDialog" [style]="{width: '450px'}" header="Advise Call Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{'operations.cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{'operations.save' | translate}}" icon="pi pi-check" class="p-button-text" (click)="saveUserRole()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserRoleDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="userRole">{{'USERMAINMENU.DIALOG.DELETEPROMPT' | translate}} <b>{{userRole.userId}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'USERMAINMENU.DIALOG.PROMPTNOOPTION' | translate}}" (click)="deleteUserRoleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'USERMAINMENU.DIALOG.PROMPTYESOPTION' | translate}}" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUserRolesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{'UserRoles.deleteRole' | translate}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'USERMAINMENU.DIALOG.PROMPTNOOPTION' | translate}}" (click)="deleteUserRolesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'USERMAINMENU.DIALOG.PROMPTYESOPTION' | translate}}" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
	</div>
</div>
