<p-toast></p-toast>
<div class="grid" #partList>
    <div class="col-12">
        <div class="card">
            <!-- add job info here -->
            <app-details-card type="claim" *ngIf="claim" [master]="claim" [role]=""></app-details-card>
        </div>
    </div>
    <div class="col-12 mt-4">
        <form [formGroup]="updateClaimForm">
            <div class="grid card">
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Inspection By</label>
                    <!-- <input formControlName="inspector" class="width-100 mb-2" type="text" pInputText /> -->
                    <p-autoComplete formControlName="inspector" [suggestions]="filteredPrinciples"
                        (completeMethod)="filterPrinciples($event)" field="name"
                        (onSelect)="onPrincipleselect($event)"></p-autoComplete>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('inspector').valid  && updateClaimForm.get('inspector').errors?.['required']"
                        class="p-error">Inspection By is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Surveyed By</label>
                    <p-autoComplete formControlName="surveyer" [suggestions]="filteredPrinciples"
                        (completeMethod)="filterPrinciples($event)" field="name"
                        (onSelect)="onPrincipleselect($event)"></p-autoComplete>
                    <!-- <input formControlName="surveyer" class="width-100 mb-2" type="text" pInputText /> -->
                    <small
                        *ngIf="submitted && !updateClaimForm.get('surveyer').valid  && updateClaimForm.get('surveyer').errors?.['required']"
                        class="p-error">Surveyed By is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Cost</label>
                    <p-inputNumber currencyDisplay="code" styleClass="width-100 mb-2" formControlName="repairCost"
                        mode="currency" currency="OMR" locale="en-US"></p-inputNumber>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('repairCost').valid  && updateClaimForm.get('repairCost').errors?.['required']"
                        class="p-error">Repair Cost is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Repair Hrs.</label>
                    <p-inputNumber formControlName="repairHrs" styleClass="width-100 mb-2" suffix=" Hrs">
                    </p-inputNumber>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('repairHrs').valid  && updateClaimForm.get('repairHrs').errors?.['required']"
                        class="p-error">Repair Hrs is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Office Location</label>
                    <input formControlName="officeLocation" class="width-100 mb-2" type="text" pInputText />
                    <small
                        *ngIf="submitted && !updateClaimForm.get('officeLocation').valid  && updateClaimForm.get('officeLocation').errors?.['required']"
                        class="p-error">Office Location is required</small>
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2">Workshop Grade</label>
                    <p-dropdown formControlName="workshopGrade" optionLabel="name" optionValue="name"
                        [options]="workshopGrades"></p-dropdown>
                    <!-- <p style="cursor: pointer;" class="text-green-500 text-right mt-2"
                        (click)="this.addGradeDialog = true"><i class="pi pi-plus"></i> add a new workshop grade</p> -->
                    <small
                        *ngIf="submitted && !updateClaimForm.get('workshopGrade').valid  && updateClaimForm.get('workshopGrade').errors?.['required']"
                        class="p-error">Workshop Grade is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <label class="block mb-2">Bid Closing Date</label>
                    <p-calendar dataType="string" formControlName="bidClosingDate" class="width-100 mb-2"
                        appendTo="body" dateFormat="yy-mm-dd" [minDate]="claimDate"></p-calendar>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('bidClosingDate').valid  && updateClaimForm.get('bidClosingDate').errors?.['required']"
                        class="p-error">Bid Closing Date is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <app-privacy [selectionList]="assignTypes" label="Assign Type" type="claim"
                        [id]="tenant.tenantType.id" [privacyControl]="updateClaimForm.controls['assignType']"
                        [suppliersControl]="updateClaimForm.controls['assignedGarage']"
                        (enableBidding)="onEnabelBidding($event)"></app-privacy>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('assignType').valid  && updateClaimForm.get('assignType').errors?.['required']"
                        class="p-error">Assign Type is required</small>
                </div>
                <div class="col-12 md:col-4">
                    <app-privacy [selectionList]="privacyList" label="{{ 'job.form.privacy' | translate }}" type="claim"
                        [id]="2" [privacyControl]="updateClaimForm.controls['privacy']"
                        [suppliersControl]="updateClaimForm.controls['suppliers']"></app-privacy>
                    <small
                        *ngIf="submitted && !updateClaimForm.get('privacy').valid  && updateClaimForm.get('privacy').errors?.['required']"
                        class="p-error">{{ 'job.form.privacy' | translate }} is required</small>
                </div>
                <div class="col-12">
                    <label class="block mb-2 fw-700">Note</label>
                    <textarea formControlName="notes" rows="3" class="width-100" pInputTextarea></textarea>
                </div>
                <!-- <div class="col-12 flex justify-content-between">
                    <div class="text-center w-full">
                        <input type="file" accept="image/*" />
                    </div>
                    <div class="w-full md:w-2">
                        <p-divider layout="vertical" styleClass="hidden md:flex"><b>OR</b></p-divider>
                        <p-divider layout="horizontal" styleClass="flex md:hidden"
                            [align]="'center'"><b>OR</b></p-divider>
                    </div>
                    <div class="text-center w-full">
                        <p-button (click)="openCamera()" label="Take Photo" icon="pi pi-camera"
                            severity="success"></p-button>
                        <div *ngIf="showCamera" class="my-4">
                            <video #cameraVideo autoplay class="rounded-small w-full"></video>
                            <p-button (click)="capturePhoto()" icon="pi pi-check" [outlined]="true" [rounded]="true"
                                severity="info"></p-button>
                        </div>
                        <div class="my-4" *ngIf="capturedImage">
                            <img  class="rounded-small w-full" [src]="capturedImage"
                                alt="Captured Image" />
                            <p-toolbar>
                                <div class="p-toolbar-group-end ml-auto">
                                    <p-button icon="pi pi-check" class="mr-2" (click)="savePhoto()"></p-button>
                                    <p-button icon="pi pi-times" styleClass="p-button-danger" (click)="cancelPhoto()"></p-button>
                                </div>
                            </p-toolbar>
                        </div>
                        <div class="flex mt-3">
                            <img width="80" *ngFor="let img of capturedImages" class="mx-1" [src]="img" alt="Captured Image" />
                        </div>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
    <div class="col-12 mb-4" *ngFor="let part of partsList">
        <h5>{{part.categoryName}}</h5>
        <div class="card">
            <p-table [value]="part.list" [loading]="loading">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Parts Name
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-part let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{part.partName}}
                        </td>
                        <td>
                            <div class="flex">
                                <div *ngFor="let action of actions; let i = index;" class="field-checkbox mr-3">
                                    <p-radioButton [disabled]="part.disabled"
                                        (onClick)="onAction(part.action, {partId: part.partId})" [inputId]="action.id"
                                        [name]="action.name" [value]="action.name"
                                        [(ngModel)]="part.action"></p-radioButton>
                                    <label [for]="action.id" class="ml-2">{{ action.name }}</label>
                                </div>
                            </div>
                        </td>
                        <!-- <td *ngIf="rowIndex >= calcHalf(part.list)">
                            {{rowIndex}} {{calcHalf(part.list)}} {{parts.partName}}
                        </td>
                        <td *ngIf="rowIndex >= calcHalf(part.list)">
                            <p-dropdown [options]="actions"
                                (onChange)="onAction($event.value, {partId: parts.partId})"></p-dropdown>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
            <div class="py-3">
                <div class="col-12">
                    <button (click)="onAddNewPart(part.list[0])" class="" pButton pRipple type="button"
                        label="Add New Part" icon="pi pi-plus" iconPos="left">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 text-center">
        <button (click)="onUpdateClaim()" class="width-100 md:w-20rem" pButton pRipple type="submit" [label]="label"
            icon="{{saving? 'pi pi-spin pi-spinner' : ''}}" iconPos="right">
        </button>
    </div>

    <!-- Add New Part Dialog -->
    <p-dialog header="Add New Part" [(visible)]="addPartDialog" [modal]="true" [breakpoints]="{ '960px': '90vw' }"
        [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <app-new-part type="claim" [actions]="actions" [category]="partCategory" *ngIf="addPartDialog"
            [subcategory]="partSubcategory"></app-new-part>
        <div class="text-center my-2">
            <button class="width-100 md:w-20rem p-button-success" pButton pRipple
                icon="{{submittedPart? 'pi pi-spin pi-spinner' : ''}}" type="submit" iconPos="right" label="Add Part"
                (click)="onSavePart()"></button>
        </div>
    </p-dialog>
    <!-- Add New Workshop Grade Dialog -->
    <!-- <p-dialog header="Add New Workshop Grade" [(visible)]="addGradeDialog" [modal]="true" [style]="{ width: 'auto' }"
        [draggable]="false" [resizable]="false">
        <input [(ngModel)]="workshopGrade" class="width-100 mb-2" type="text" pInputText />
        <div class="text-center my-2">
            <button class="p-button-success" pButton pRipple label="Add" (click)="onSaveWorkshopGrade()"></button>
        </div>
    </p-dialog> -->
</div>
