<p-toast></p-toast>
<p-toolbar styleClass="mb-2 width-100 justify-content-end" *ngIf="type == 'claim bid'">
    <ng-template pTemplate="right">
        <div>
            <!-- {{requests[0] | json}}
            {{(requests[0].statusId !== 3)}} -->
            <button (click)="confirmCancel(requests[0].bid)" pButton pRipple type="button"
                [disabled]="(requests[0].statusId !== 1) && (requests[0].statusId !== 3)" class="width-100 p-button-warning" label="Cancel Bids"></button>
        </div>
    </ng-template>
</p-toolbar>

<p-table [value]="requests" dataKey="id" responsiveLayout="scroll" editMode="row" #partTable
    *ngIf="requests.length > 0" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th>{{'bid.bidDetails.partName' | translate}}</th>
            <th *ngIf="type !== 'new claimBid'">{{'bid.bidDetails.qty' | translate}}</th>
            <th *ngIf="type == 'new bid' || type == 'job bid'">{{'bid.bidDetails.Proposed' | translate}}</th>
            <th *ngIf="type == 'new claimBid' || type == 'claim bid'">Type</th>
            <th *ngIf="type == 'new claimBid' || type == 'claim bid'">Request For</th>
            <th>{{'bid.bidDetails.warranty' | translate}} {{'bid.bidDetails.days' | translate}}</th>
            <th>{{'bid.bidDetails.deliverDays' | translate}} {{'bid.bidDetails.days' | translate}}</th>
            <th>{{'bid.bidDetails.originalPrice' | translate}}</th>
            <th *ngIf="type == 'new bid'">{{'bid.bidDetails.price' | translate}}</th>
            <th>
                {{'bid.bidDetails.discountType' | translate}}
            </th>
            <th>{{'bid.bidDetails.discount' | translate}}</th>
            <th *ngIf="type == 'new claimBid' || type == 'claim bid'">Service Charge</th>
            <th>{{'bid.bidDetails.vat' | translate}}</th>
            <th>{{'bid.bidDetails.totalPrice' | translate}}</th>
            <th *ngIf="type == 'new bid'">{{'bid.bidDetails.partImgs' | translate}}</th>
            <th *ngIf="type == 'job bid'">{{'common.status' | translate}}</th>
            <th *ngIf="type == 'new bid' || type == 'job bid'">{{'common.notes' | translate}}</th>
            <th *ngIf="type !== 'claim bid'">{{'bid.bidDetails.modifyBid' | translate}}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-part let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="part" [ngClass]="{'row-disabled': part.saved || checked}">
            <td (click)="showPartImageModal(part)" style="cursor: pointer; border-right: 1px solid #dee2e6;">
                <span>
                    {{type == 'new bid' || type == 'new claimBid' || type == 'claim bid' ? part.part.name :
                    part.partName}}
                </span>
                <i *ngIf="type == 'new bid' || type == 'job bid'"
                    class="pi pi-images fs-large m-2 ml-3  text-blue-500"></i>
            </td>
            <td *ngIf="type !== 'new claimBid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="1" max="{{part.qty}}" (input)="onQty(part)" pInputText type="number"
                            [style]="{'width':'100%'}" [(ngModel)]="part.qty2" [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.qty2 || part.qty}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid' || type == 'job bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown appendTo="body" [style]="{'width':'100%'}" optionLabel="partType" [options]="part.statuses"
                            [(ngModel)]="part.preferred" [group]="true" optionDisabled="disabled"
                            (onChange)="onProposedChange(part)">
                            <ng-template let-group pTemplate="group">
                                <div class="flex align-items-center" [ngClass]="">
                                    <span>{{group.partType}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{type == 'new bid'? part.preferred.partType : part.partType}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new claimBid' || type == 'claim bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="partTypes" optionLabel="partType" [(ngModel)]="part.partType"
                            appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.partType?.partType || part.partType == 1? "Genuine-OEM" : part.partType == 2?
                        "Aftermarket" : "Used"}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new claimBid' || type == 'claim bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="part.partOption" [style]="{'width':'100%'}" disabled>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.partOption}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td class="text-center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.warranty"
                            [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.warranty}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.availability"
                            [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.availability? part.availability : part.deliverDays}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="1" pInputText type="number" (input)="onOriginalPrice(part)"
                            [style]="{'width':'100%'}" [(ngModel)]="part.originalPrice"
                            [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.originalPrice | number}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" [style]="{'width':'100%'}" [(ngModel)]="part.price"
                            disabled="true">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.price | number}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown  appendTo="body" [disabled]="part.isNotInterested" (onChange)="onDiscountTypeChange(part)"
                            [options]="discountType" [(ngModel)]="part.discountType"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <!-- {{part.discountType}} -->
                        {{part.discountType == 'flat' || part.discountType == '%'? '%': 'OMR'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" max="{{part.originalPrice}}" (input)="onDiscount(part)" pInputText type="number"
                            [style]="{'width':'100%'}" [(ngModel)]="part.discount" [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.discount}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new claimBid' || type == 'claim bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" (input)="onServicePriceChange(part)"
                            [(ngModel)]="part.servicePrice" [style]="{'width':'100%'}">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.servicePrice}}
                    </ng-template>
                </p-cellEditor>

            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input min="0" pInputText type="number" (input)="onVat(part)" [style]="{'width':'100%'}"
                            [(ngModel)]="part.vat" [disabled]="part.isNotInterested">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.vat}} %
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                {{type == 'new bid' || type == 'new claimBid'? (part.totalPrice | number) : (part.price | number)}}
            </td>
            <td *ngIf="type == 'new bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-fileUpload styleClass="choose-btn" chooseStyleClass="choose-btn"
                            chooseLabel="{{part.images.length > 0? part.images.length + ' files selected': ''}}"
                            chooseIcon="" auto="true" accept="image/*" multiple="multiple"
                            (onSelect)="part.images = $event.currentFiles"
                            [disabled]="part.isNotInterested"></p-fileUpload>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{part.images.length + ' files selected'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid'">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <button (click)="showNotes(part.notes)" pButton pRipple type="button" icon="pi pi-file"
                            class="p-button-rounded p-button-success p-button-text"></button>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <i class="pi pi-file"></i>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="type == 'new bid' || type == 'new claimBid'">
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing && !part.isSending" pButton pRipple type="button" pInitEditableRow
                        icon="pi pi-pencil" class="p-button-rounded p-button-text"
                        [disabled]="part.saved || checked"></button>
                    <button *ngIf="editing && !part.isSending" pButton pRipple type="button" pSaveEditableRow
                        icon="pi pi-check" (click)="onRowEditSave(part)"
                        class="p-button-rounded p-button-text p-button-success mr-2" [disabled]="!isRowValid"></button>
                    <button *ngIf="editing && !part.isSending" pButton pRipple type="button" pCancelEditableRow
                        icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>
                    <i *ngIf="part.isSending" class="pi pi-spin pi-spinner" style="color: #22c55e"></i>
                </div>
            </td>
            <td *ngIf="type == 'job bid'">
                {{getStatusName(part.statusId)}}
            </td>
            <td *ngIf="type == 'job bid'">
                {{part.comments == ''? '-' : part.comments}}
            </td>
            <td *ngIf="type == 'job bid'">
                <button (click)="confirmCancel(part.bidId)" pButton pRipple type="button"
                    [disabled]="part.statusId !== 1" class="width-100 p-button-sm text-sm p-button-warning"
                    styleClass="" label="{{'USERSUBMENU.DIALOG.CANCEL' | translate}}"></button>
            </td>
        </tr>
        <tr class="font-bold prices bg-bluegray-100" *ngIf="type == 'job bid'">
            <td colspan="4"></td>
            <td>Total</td>
            <td>{{bidTotalOriginalPrice | number}} OMR</td>
            <td></td>
            <td>{{bidTotalDiscount}} OMR</td>
            <td></td>
            <td>{{bidTotalPrice | number}} OMR</td>
            <td colspan="3"></td>
        </tr>
        <tr class="font-bold prices bg-bluegray-100" *ngIf="type == 'claim bid'">
            <td colspan="5"></td>
            <td>Total</td>
            <td>{{bidTotalOriginalPrice | number}} OMR</td>
            <td></td>
            <td>{{bidTotalDiscount}} OMR</td>
            <td colspan="2"></td>
            <td>{{bidTotalPrice | number}} OMR</td>
            <!-- <td></td> -->
        </tr>
        <tr class="prices font-bold bg-bluegray-50" *ngIf="type == 'new claimBid'">
            <td colspan="8"><p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox> Add a total
                price Instead of adding price for each parts</td>
            <!-- <td *ngIf="!checked"><input pInputText type="text" [(ngModel)]="totalServicePrice" value="{{totalServicePrice | number}}" [style]="{'width':'100%'}" [disabled]="!checked"></td> -->
            <td *ngIf="checked" colspan="2" class="text-right"><i class="pi pi-info-circle mr-1 text-indigo-500"
                    tooltipPosition="bottom" pTooltip="Total Price with Service Price & Vat."></i>
                Total:</td>
            <td *ngIf="!checked" colspan="2"></td>
            <td colspan="2"><input pInputText type="text" [(ngModel)]="totalBidsPrices"
                    value="{{totalBidsPrices | number}}" [style]="{'width':'100%'}" [disabled]="!checked"></td>
        </tr>

    </ng-template>

    <ng-template pTemplate="summary" *ngIf="type == 'new bid'">
        <p class="text-right">{{'bid.bidDetails.total' | translate}}: {{total | number}}</p>
    </ng-template>

</p-table>
<div *ngIf="requests.length <= 0">
    <p>this request has no parts for bid</p>
</div>
<div class="p-3" *ngIf="type == 'new claimBid'">
    <label class="block mb-2 fw-700">Note</label>
    <textarea rows="5" class="width-100" pInputTextarea [(ngModel)]="note"></textarea>
    <div class="text-center mt-5">
        <button icon="{{isSubmittingBids? 'pi pi-spin pi-spinner' : ''}}" iconPos="right" (click)="onSubmitBid()"
            class="width-100 md:w-20rem" pButton pRipple type="submit" label="Submit Bid">
        </button>
    </div>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{'max-width': '90vw', 'width': 'auto', 'height': 'auto'}">
    <ng-template pTemplate="header">
        {{type == 'new bid'? 'Part Images': modalPart.partName}}
    </ng-template>
    <div class="align-items-start flex justify-content-between mb-3"
        *ngIf="modalPart.documents?.length > 0; else bidImage">
        <ng-container *ngFor="let doc of modalPart.documents">
            <div class="mr-2">
                <img class="car-image rounded-large shadow-3"
                    src="{{'http://letsgo-oman.com:6060/api/v1/document/' + doc.name}}" alt="">
            </div>
        </ng-container>
    </div>
    <ng-template #bidImage>
        <div class="align-items-start flex justify-content-between mb-3" *ngIf="!checkType(modalPart.bidImages); else bidImages">
            <ng-container *ngFor="let img of modalPart.bidImages">
                <div class="mr-2">
                    <img class="car-image rounded-large shadow-3"
                        src="{{'http://letsgo-oman.com:6060/api/v1/document/' + modalPart.img}}" alt="">
                </div>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #bidImages>
        <div class="align-items-start flex justify-content-between mb-3" *ngIf="checkType(modalPart.bidImages); else noimages">
            <div class="mr-2">
                <img class="car-image rounded-large shadow-3"
                    src="{{'http://letsgo-oman.com:6060/api/v1/document/' + modalPart.bidImages}}" alt="">
            </div>
        </div>
    </ng-template>
    <ng-template #noimages>
        <div class="text-center mb-3">
            <p-message severity="warn" text="{{'bid.bidDetails.noImgs' | translate}}" styleClass="mr-2"></p-message>
        </div>
    </ng-template>
    <div *ngIf="modalPart.description">
        <h5 class="mb-2">{{modalPart.part.name}}</h5>
        <p class="muted-text text-lg">
            <span class="font-medium">{{'bid.bidDetails.comment' | translate}}:</span> {{modalPart.description}}
        </p>
    </div>
</p-dialog>
<p-dialog [(visible)]="displayNotesModal" [modal]="true" [style]="{'max-width': '90vw', 'width': 'auto'}">
    <ng-template pTemplate="header">
        {{type == 'new bid'? 'Add Notes': 'Notes'}}
    </ng-template>
    <span class="p-float-label">
        <textarea id="float-input" [(ngModel)]="note" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input">Notes</label>
    </span>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayNotesModal = false" label="Ok"
            styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
