<div [ngClass]="{'card': type == 'new car'}" #carFormEl>
    <p-toast></p-toast>
    <form [formGroup]="carForm" (ngSubmit)="onCarFormSubmit()">
        <div class="grid">
            <div class="col-12">
                <label class="block">{{ 'car.form.chassisNo' | translate }}</label>
                <span class="p-input-icon-right width-100 my-2">
                    <i class="pi pi-spin pi-spinner" *ngIf="isTyping"></i>
                    <i class="pi pi-check text-green-500 font-bold" *ngIf="found && !isTyping"></i>
                    <input formControlName="chassisNumber" class="width-100" type="text" pInputText
                        (keyup)="onChnKeyUp()" (keydown)="onChnKeyDown()" placeholder="Ex: 291919AD1914" required
                        autofocus />
                </span>
                <div class="flex align-items-center justify-content-between">
                    <small
                        *ngIf="submitted && !carForm.get('chassisNumber').valid  && carForm.get('chassisNumber').errors?.['required']"
                        class="block p-error mr-auto">{{ 'car.form.chassisNoRequired' | translate }}</small>

                    <div class="mr-auto">
                        <small
                            *ngIf="!carForm.get('chassisNumber').valid && carForm.get('chassisNumber').dirty && carForm.get('chassisNumber').errors?.['minlength']"
                            class="p-error">{{ 'car.form.minChassieErorr' | translate }}</small>
                        <small
                            *ngIf="!carForm.get('chassisNumber').valid  && carForm.get('chassisNumber').errors?.['pattern']"
                            class="block p-error">{{ 'car.form.onlyLetters' | translate }}</small>
                    </div>
                    <small class="block muted-text" *ngIf="notFound && !isTyping">{{ 'car.form.chassisNoNotFound' |
                        translate }}</small>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2">{{ 'supplier.supplierDialog.brand' | translate }}</label>
                <p-dropdown [options]="brands" formControlName="brandId" placeholder="Select a Brand"
                    optionLabel="brandName" (onChange)="getBrandCarModels($event.value)"
                    emptyMessage="{{ 'car.form.emptybrand' | translate }}"></p-dropdown>
                <small
                    *ngIf="submitted && !carForm.get('brandId').valid  && carForm.get('brandId').errors?.['required']"
                    class="p-error">{{ 'car.form.brandRequired' | translate }}</small>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2">{{ 'car.form.model' | translate }}</label>
                <p-dropdown [options]="carModels" formControlName="carModelId" placeholder="Select a Model"
                    optionLabel="name" emptyMessage="{{ 'car.form.emptymodel' | translate }}"></p-dropdown>
                <small
                    *ngIf="submitted && !carForm.get('carModelId').valid  && carForm.get('carModelId').errors?.['required']"
                    class="p-error">{{ 'car.form.modelRequired' | translate }}</small>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2">{{ 'car.form.year' | translate }}</label>
                <p-dropdown [options]="carModelYears" formControlName="carModelYearId"
                    placeholder="{{ 'car.form.selectyear' | translate }}" optionLabel="year"></p-dropdown>
                <small
                    *ngIf="submitted && !carForm.get('carModelYearId').valid  && carForm.get('carModelYearId').errors?.['required']"
                    class="p-error">{{ 'car.form.yearRequired' | translate }}</small>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2">{{ 'car.form.spec' | translate }}</label>
                <p-dropdown [options]="carModelTypes" formControlName="carModelTypeId"
                    placeholder="{{ 'car.form.selectspec' | translate }}" optionLabel="type"></p-dropdown>
                <small
                    *ngIf="submitted && !carForm.get('carModelTypeId').valid  && carForm.get('carModelTypeId').errors?.['required']"
                    class="p-error">{{ 'car.form.specRequired' | translate }}</small>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2">{{ 'car.form.gearbox' | translate }}</label>
                <p-dropdown [options]="gearType" formControlName="gearType"></p-dropdown>
                <small
                    *ngIf="submitted && !carForm.get('gearType').valid  && carForm.get('gearType').errors?.['required']"
                    class="block p-error mr-auto">{{ 'car.form.gearRequired' | translate }}</small>
            </div>
            <div class="col-12 md:col-6">
                <label class="block">{{ 'car.form.licencePlate' | translate }}</label>
                <input formControlName="plateNumber" class="width-100 my-2" type="text" pInputText
                    placeholder="EX: YA59811" required />
                <small *ngIf="!carForm.get('plateNumber').valid  && carForm.get('plateNumber').errors?.['pattern']"
                    class="p-error">{{ 'car.form.lettersNotAllowed' | translate }}</small>
                <small
                    *ngIf="submitted && !carForm.get('plateNumber').valid &&  carForm.get('plateNumber').errors?.['required']"
                    class="p-error">{{ 'car.form.plateRequired' | translate }}</small>
            </div>

            <div class="col-12 flex align-items-center mt-3">
                <p-fileUpload class="mt-2 width-100" mode="advanced" [chooseIcon]="'pi pi-cloud-upload'"
                    customUpload="true" accept="image/*" maxFileSize="10000000"
                    chooseLabel="{{ 'car.form.uploadCarImg' | translate }}" auto="true"
                    (uploadHandler)="onCarImageUpload($event)" *ngIf="!found"></p-fileUpload>

                <ng-container *ngIf="found && image !== ''">
                    <div class="mr-4 relative">
                        <p-skeleton class="absolute top-0 left-0 z-1" size="200px" *ngIf="!imageLoaded"></p-skeleton>
                        <img (load)="imageLoaded = true" class="rounded-large shadow-3" width="200" src="{{image}}"
                            alt="">
                    </div>
                </ng-container>
            </div>
            <app-new-claim *ngIf="type == 'new claim'" (createClaimEvent)="onCreateClaimEvent($event)" [saving]="claimSaving"></app-new-claim>
            <div class="col-12 text-center" *ngIf="type !== 'new claim'">
                <button class="width-100 md:w-20rem" pButton pRipple type="submit"
                    label="{{type == 'new car'? 'Add Car' : 'NEXT'}}" icon="{{saving? 'pi pi-spin pi-spinner' : ''}}"
                    iconPos="right">
                </button>
            </div>
        </div>
    </form>
</div>
