<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="{{ 'operations.new' | translate }}" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2" (click)="carDialog()" [hidden]="false"
                        [disabled]="newAuth===false"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="{{ 'operations.export' | translate }}" icon="pi pi-upload"
                        class="p-button-help mb-2" (click)="dt.exportCSV()" [disabled]="printAuth===false"></button>
                </ng-template>
            </p-toolbar>

            <!-- add Car dialog using New Car Component -->
            <p-dialog [(visible)]="displayNewCarDialog" styleClass="car-diallog" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw', padding: 0 }"
                header="{{ 'car.form.title' | translate }}" [modal]="true" styleClass="p-fluid">
                <app-new-car  (close)="closeCarDialog()"></app-new-car>
            </p-dialog>

            <p-table #dt [value]="masterDtos" [columns]="cols" [rows]="10" [paginator]="true"
                [globalFilterFields]="['id','brand','model','year','plateNumber']" [(selection)]="selectedEntries"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onFilter)="onFilter($event, dt)" [showCurrentPageReport]="true" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center table-header">
                        <h5 class="mb-3 md:mb-0">{{ 'car.title' | translate }}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="{{ 'operations.filter' | translate }}" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">{{ 'common.id' | translate }}<p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pColumn="brandName">{{ 'car.form.brand' | translate }}
                        </th>
                        <th pColumn="carModel">{{ 'car.form.model' | translate }}
                        </th>
                        <th pColumn="carModelYear">{{ 'car.form.year' | translate }}
                        </th>
                        <th pColumn="plateNumber">{{ 'car.form.licencePlate' | translate }}
                        </th>
                        <th pColumn="actions">{{'common.actions' | translate }}
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                    <tr>
                        <td>
                            {{car.id}}
                        </td>
                        <td>
                            {{car.brandName}}
                        </td>
                        <td>
                            {{car.carModel}}
                        </td>
                        <td>
                            {{car.carModelYear}}
                        </td>
                        <td>
                            {{car.plateNumber}}
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="edit(car)" [disabled]="editAuth===false"></button>
                            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-warning mt-2"
                                [disabled]="deleteAuth===false" (click)="deleteAction(car)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        {{'car.table_footer' | translate: {length: masterDtos ? masterDtos.length : 0} }}
                    </div>
                </ng-template>
            </p-table>
        </div>

        <!-- update Car dialog  -->
        <p-dialog [(visible)]="masterDialog" header="{{ 'car.form.title' | translate }}" [modal]="true"
            styleClass="p-fluid" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="brandName">{{ 'car.form.brand' | translate }}</label>
                        <p-dropdown [options]="brands" [(ngModel)]="selectedBrand" (onChange)="onBrandChange()"
                            optionLabel="brandName" [showClear]="true" [autoDisplayFirst]="false" required
                            autofocus></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedBrand">{{ 'car.form.brandRequired' |
                            translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="carModel">{{ 'car.form.model' | translate }}</label>
                        <p-dropdown [options]="carModels" [(ngModel)]="selectedModel" optionLabel="name"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus
                            (change)="onBrandChange()"></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedModel">{{ 'car.form.modelRequired' |
                            translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="carModelType">{{ 'car.form.type' | translate }}</label>
                        <p-dropdown [options]="carModelTypes" [(ngModel)]="selectedType" optionLabel="type"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedType">{{ 'car.form.typeRequired' |
                            translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="gearTypes">{{ 'car.form.gear' | translate }}</label>
                        <p-dropdown [options]="gearTypes" [(ngModel)]="selectedGear" [showClear]="true"
                            [autoDisplayFirst]="false" required autofocus></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedGear">{{ 'car.form.gearRequired' |
                            translate }}</small>
                    </div>

                    <div class="field col-12">
                        <label for="carModelYear">{{ 'car.form.year' | translate }}</label>
                        <p-dropdown [options]="carModelYears" [(ngModel)]="selectedYear" optionLabel="year"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedYear">{{ 'car.form.yearRequired' |
                            translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="plateNumber">{{ 'car.form.licencePlate' | translate }}</label>
                        <input type="text" pInputText id="plateNumber" [(ngModel)]="master.plateNumber" required
                            autofocus />
                        <small class="p-invalid" *ngIf="submitted && !selectedYear">{{ 'car.form.plateRequired' |
                            translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="chassisNumber">{{ 'car.form.chassisNo' | translate }}</label>
                        <input type="text" pInputText id="chassisNumber" [(ngModel)]="master.chassisNumber" required
                            autofocus />
                        <small class="p-invalid" *ngIf="submitted && !selectedYear">{{ 'car.form.chassisRequired' |
                            translate }}</small>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>

                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="save()" [disabled]="!(editable)"></button>
            </ng-template>
        </p-dialog>


        <!-- Delete Single Car dialog  -->
        <p-dialog [(visible)]="deleteSingleDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true"
            [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="master">{{ 'operations.deleteMessage' | translate }} <b>{{master.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSingleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
