<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <!-- //Claim Components  -->
        <div class="card">
            <p-toolbar styleClass="mb-4" *ngIf="newAuth==true">
                <ng-template pTemplate="left">
                    <!-- <button pButton pRipple label="{{ 'operations.new' | translate }}" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2" (click)="new()" [disabled]="newAuth===false" [hidden]="false"
                        *ngIf="user == 2"></button> -->
                    <button pButton pRipple label="{{ 'operations.new' | translate }}" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2" [routerLink]="['/add-claim']"></button>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <button pButton pRipple label="{{ 'operations.export' | translate }}" icon="pi pi-upload"
                        class="p-button-help mb-2" (click)="dt.exportCSV()" [disabled]="printAuth===false"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table #dt [value]="fillteredMaster" [columns]="cols" [rows]="10" [paginator]="true"
                [globalFilterFields]="['id','claimNo','tenantName','createdUser','status']"
                [(selection)]="selectedEntries" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onFilter)="onFilter($event, dt)" [showCurrentPageReport]="true" (onPage)="loadClaims($event)"
                responsiveLayout="scroll">

                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center table-header">
                        <h5 class="md:mb-0 mb-2">{{ 'claim.title' | translate }}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="{{ 'operations.filter' | translate }}" />
                        </span>
                    </div>
                    <div class="mt-3 border-300 border-bottom-1">
                        <ng-container *ngFor="let state of status">
                            <button (click)="filterByStatus(state)" pButton pRipple type="button" label="{{state}}"
                                [ngClass]="{'active': selectedState == state, 'text-black-alpha-40': selectedState !== state}"
                                class="md:mr-3 px-2 py-1 md:p-2 p-button-text"></button>
                        </ng-container>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">{{ 'common.id' | translate }}<p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pColumn="claimNo">{{ 'claim.tableColumn.claimNo' | translate }}
                        </th>
                        <th pSortableColumn="claimDate">{{ 'claim.tableColumn.claimDate' | translate }}<p-sortIcon
                                field="claimDate"></p-sortIcon>
                        </th>
                        <th pColumn="tenantName">{{ 'claim.tableColumn.tenantName' | translate }}
                        </th>
                        <th pColumn="createdUser">{{ 'claim.tableColumn.createdUser' | translate }}
                        </th>
                        <th pColumn="statusDate">{{ 'claim.tableColumn.statusDate' | translate }}
                        </th>
                        <th pSortableColumn="status">{{ 'claim.tableColumn.status' | translate }}<p-sortIcon
                                field="claimDate"></p-sortIcon>
                        </th>
                        <th pColumn="actions">{{'common.actions' | translate }}
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-claim>
                    <tr [ngClass]="{'bg-green-100': isNewClaim && isNewClaim == claim.id}">
                        <td>
                            {{claim.id}}
                        </td>
                        <td>
                            <span>
                                <a (click)="goToClaimDetails(claim.id)" style="cursor: pointer;"><mark
                                        class="text-blue-400 hover:text-pink-500">{{claim.claimNo}}</mark>
                                </a>
                            </span>
                        </td>
                        <td>
                            {{claim.claimDate| date:'longDate'}}
                        </td>
                        <td>
                            {{claim.tenantName}}
                        </td>
                        <td>
                            {{claim.createdUser}}
                        </td>
                        <td>
                            {{claim.statusDate | date:'longDate'}}
                        </td>
                        <td>
                            <p-tag value="{{claim.status}}"
                                styleClass="p-button-text p-button-sm {{claim.status == 'Open' || claim.status == 'Open for Bid'? 'bg-blue-500' : claim.status == 'Waiting for Survey'? 'p-button-warning bg-orange-500' : claim.status == 'Confirmed' || claim.status == 'Initial Approval' || claim.status == 'Approved'  || claim.status == 'Completed'? 'p-button-success bg-green-500': claim.status == 'Waiting for Approval'? 'p-button-help  bg-indigo-500':'p-button-danger bg-pink-500'}}"></p-tag>
                            <!-- <p-badge value="{{claim.status}}" severity="{{claim.status == 'Open'? 'info' : claim.status == 'Waiting for Survey'? 'warning' : claim.status == 'Confirmed'? 'success': 'danger'}}"></p-badge> -->
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="edit(claim)"
                                [disabled]="editAuth == false || claim.status == 'Canceled'"></button>
                            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-warning mt-2"
                                [disabled]="deleteAuth == false || claim.status == 'Canceled'"
                                (click)="deleteAction(claim)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        {{'claim.table_footer' | translate: {length: masterDtos ? masterDtos.length : 0} }}
                    </div>
                </ng-template>
            </p-table>
        </div>

        <!-- add/update Claim dialog -->
        <p-dialog [(visible)]="masterDialog" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }"
            header="{{ 'claim.claimDialog.title' | translate }}" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <label for="claimNo">{{ 'claim.tableColumn.claimNo' | translate }}</label>
                        <input type="text" pInputText id="claimNo" [(ngModel)]="master.claimNo" required autofocus />
                        <small class="p-invalid" *ngIf="submitted && !master.claimNo">{{
                            'claim.claimDialog.claimNoRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="tenant">{{ 'claim.tableColumn.tenantName' | translate }}</label>
                        <p-dropdown [options]="tenants" [(ngModel)]="selectedTenant" [disabled]="!active"
                            optionLabel="name" [showClear]="true" [autoDisplayFirst]="false" required
                            autofocus></p-dropdown>
                        <small class="p-invalid" *ngIf="submitted && !selectedTenant">{{
                            'claim.claimDialog.tenantRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <label for="claimDate">{{ 'claim.tableColumn.claimDate' | translate }}</label>
                        <input type="date" pInputText id="claimDate" [(ngModel)]="master.claimDate" [max]="today"
                            required />
                        <small class="p-invalid" *ngIf="submitted && !master.claimDate">{{
                            'claim.claimDialog.claimDateRequired' | translate }}</small>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="save()" [disabled]="!(editable)"></button>
            </ng-template>
        </p-dialog>

        <!-- Delete Single Claim dialog  -->
        <p-dialog [(visible)]="deleteSingleDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true"
            [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="master">{{ 'operations.cancelMessage' | translate }} <b>{{master.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSingleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <!-- Delete Multiple Claims dialog (Not Functioning) -->
        <p-dialog [(visible)]="deleteMultipleDialog" header="{{ 'operations.deleteConfirm' | translate }}"
            [modal]="true" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{ 'operations.deleteAllMessage' | translate }}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteMultipleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
