<p-fieldset legend="{{type == 'new job'? part : type == 'edit req'? requestDetails.requestTitle : 'Part Details'}}" class="relative req-field">
    <p-toast></p-toast>
    <div class="field col-12"  #partComponent>
        <app-new-part [type]="type" [errMsg]="partErrorMsg" [partDetails]="requestDetails.part"></app-new-part>
    </div>
    <div class="col-12">
        <p-divider type="dashed"></p-divider>
    </div>
    <div class="grid pb-3">
        <div class="field col-12 md:col-3">
            <label>{{ 'request.form.qty' | translate }}</label>
            <input min="1" [(ngModel)]="qty" class="width-100" type="number" pInputText placeholder="" />
            <small *ngIf="qty < 1" class="p-error mt-2">{{'request.form.qtyRequired' | translate}}</small>
        </div>
        <div class="field col-12 md:col-9">
            <label for="">{{ 'request.form.desc' | translate }}</label>
            <textarea [(ngModel)]="description" placeholder="{{ 'request.form.descPlaceholder' | translate }}"
                class="width-100 block" type="text" pInputText required></textarea>
        </div>
        <div class="field col-12">
            <p-fileUpload maxFileSize="10000000" [chooseIcon]="'pi pi-cloud-upload'" chooseLabel="{{ 'request.form.uploadImages' | translate }}" [customUpload]="true"
                [auto]="true" (uploadHandler)="uploadPartImages($event)" multiple="multiple" accept="image/*">
            </p-fileUpload>
        </div>
        <div class="field col-12">
            <label class="mb-2">{{ 'request.form.prefredTypes' | translate }}</label>
            <div class="flex align-items-center">
                <ng-container *ngFor="let type of partTypes" class="field-checkbox">
                    <p-checkbox name="group1" value="type" [value]="type" [(ngModel)]="selectedPartTypes"
                        [inputId]="type.id"></p-checkbox>
                    <label [for]="type.id" class="ml-2 mr-4">{{type.partType}}</label>
                </ng-container>
            </div>
            <small
                *ngIf="submitted && selectedPartTypes.length == 0"
                class="p-error mt-2">{{ 'request.form.prefredTypesrequired' | translate }}</small>
        </div>
    </div>
    <div class="col-12 text-center mb-8" *ngIf="type == 'new job'">
        <button icon="{{isSending? 'pi pi-spin pi-spinner':'pi pi-check'}}" iconPos="right" class="width-100 md:w-20rem" type="button" pButton pRipple (click)="sendRequest()"
            label="{{ 'request.form.sendReq' | translate: {'text': buttonTxt} }}" [disabled]="blocked"></button>
    </div>
</p-fieldset>
