<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <!-- //Sale invoice Components  -->
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <!-- <button pButton pRipple label="{{ 'operations.new' | translate }}"  icon="pi pi-plus" class="p-button-success mr-2 mb-2"
                        (click)="openNew()" [disabled]="newAuth===false"></button> -->
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="{{ 'operations.import' | translate }}"
                        chooseLabel="{{ 'operations.import' | translate }}" class="mr-2 mb-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="{{ 'operations.export' | translate }}" icon="pi pi-upload" class="p-button-help mb-2"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="masterDtos" (onPage)="loadOrders($event)" [columns]="cols" [rows]="10" [paginator]="true"
                (onFilter)="onFilter($event, dt)"
                [globalFilterFields]="['id','orderId','orderDate','insertDate', 'payedStatus', 'deliveryStatus', 'customerPartyName', 'statusNameEn', 'cuCurrencyCode']"
                [(selection)]="selectedEntries" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true"  responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center table-header">
                        <h5 class="mb-3 md:mb-0">{{ 'orders.table.tableTitle' | translate }}</h5>

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="{{ 'operations.filter' | translate }}" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{'common.id' | translate}}</th>
                        <th>{{'orders.table.date' | translate}}</th>
                        <th *ngIf="!customerOrSupplier()">{{'orders.table.customerName' | translate}}</th>
                        <th *ngIf="customerOrSupplier()">{{'orders.table.supplierName' | translate}}</th>
                        <th>{{'orders.table.carInfo' | translate}}</th>
                        <th>{{'job.tableColumn.jobNo' | translate}}</th>
                        <th>{{'orders.table.amount' | translate}}</th>
                        <th>{{'orders.table.total' | translate}}</th>
                        <th>{{'orders.table.sttaus' | translate}}</th>
                        <th>{{'orders.table.delivery' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td>
                            <span>
                                <a (click)="goOrderDetails(order)" style="cursor: pointer;">
                                    <mark class="text-blue-400 hover:text-pink-500">{{order.id}}
                                    </mark>
                                </a>
                            </span>

                        </td>
                        <td>
                            {{order?.createdAt | date: 'dd/MM/yyyy'}}
                        </td>
                        <td *ngIf="!customerOrSupplier()">
                            {{order.customerName}}
                        </td>
                        <td *ngIf="customerOrSupplier()">
                            {{order.supplierName}}
                        </td>
                        <td>
                            {{order.jobTitle?  order.jobTitle : '-'}}
                        </td>
                        <td>
                            {{order.jobNumber? order.jobNumber : '-'}}
                        </td>
                        <td>
                            {{order.orderAmount}}
                        </td>
                        <td>
                            {{order.totalAmount}}
                        </td>
                        <td>
                            {{order.orderStatus}}
                        </td>
                        <td>
                            {{order.deliveryFees}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="5" class="text-left">{{'common.total' | translate}}</td>
                        <td>{{totalOrderAmount | number}}</td>
                        <td colspan="2" >{{totalAmount | number}}</td>
                        <td>{{delivaryTotal | number}}</td>
                    </tr>

                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        {{'orders.table_footer' | translate: {length: masterDtos ? masterDtos.length : 0} }}
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="masterDialog" [style]="{width: '700px'}"
            header="{{ 'invoice.invoiceDialog.title' | translate }}" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label>{{ 'common.saleCost' | translate }}</label>
                        <p-dropdown [options]="saleAccounts" [(ngModel)]="selectedSaleAccount" optionLabel="name"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus></p-dropdown>
                    </div>
                    <!-- <div class="field col-12 md:col-5">
                        <label for="orderId">{{ 'invoice.tableColumn.orderId' | translate }}</label>
                        <input type="number" pInputText id="orderId" [(ngModel)]="master.orderId" required autofocus />
                        <small class="p-error" *ngIf="submitted && !master.orderId">{{ 'invoice.invoiceDialog.orderIdRequired' | translate }}</small>
                    </div> -->
                    <div class="field col-12 md:col-4">
                        <label for="orderDate">{{ 'invoice.tableColumn.orderDate' | translate }}</label>
                        <input type="date" pInputText id="orderDate" [(ngModel)]="master.orderDate" required
                            autofocus />
                        <small class="p-error" *ngIf="submitted && !master.orderDate">{{
                            'invoice.invoiceDialog.orderDateRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="dueDate">{{ 'invoice.tableColumn.dueDate' | translate }}</label>
                        <input [min]="minDate" type="date" pInputText id="dueDate" [(ngModel)]="master.dueDate" required
                            autofocus />
                        <small class="p-error" *ngIf="submitted && !master.dueDate">{{
                            'invoice.invoiceDialog.dueDateRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-9">
                        <label>{{ 'common.customer' | translate }}</label>
                        <p-autoComplete [(ngModel)]="selectedParty" [suggestions]="filteredParties" styleClass="w-full"
                            (completeMethod)="filterParty($event)" field="partyName" [dropdown]="true" required
                            autofocus>
                        </p-autoComplete>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label>{{ 'common.currency' | translate }}</label>
                        <p-dropdown [options]="currencies" [(ngModel)]="selectedCurrency" optionLabel="currencyCode"
                            [showClear]="true" [autoDisplayFirst]="false" required autofocus
                            (onChange)="onSelectCurrency(selectedCurrency)"></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label>{{ 'common.notes' | translate }}</label>
                        <textarea rows="5" cols="30" class="w-full" pInputTextarea
                            [(ngModel)]="master.notes"></textarea>
                    </div>
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="save()"
                    [disabled]="!(selectedParty && selectedSaleAccount && selectedCurrency && editable)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSingleDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="masterDto">{{ 'operations.deleteMessage' | translate }}
                    <b>{{masterDto.orderId}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'USER.DIALOG.PROMPTNOOPTION' | translate}}"
                    (click)="deleteSingleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'USER.DIALOG.PROMPTYESOPTION' | translate}}"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteMultipleDialog" header="{{ 'operations.deleteConfirm' | translate }}"
            [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{ 'operations.deleteAllMessage' | translate }}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'USER.DIALOG.PROMPTNOOPTION' | translate}}"
                    (click)="deleteMultipleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'USER.DIALOG.PROMPTYESOPTION' | translate}}"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
