<div class="layout-invoice-page">
    <p-toast></p-toast>
    <p-confirmDialog key="cfmdialog" [style]="{width: '50vw'}" [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <p-toolbar styleClass="mb-2 py-1">
        <ng-template pTemplate="left">
        </ng-template>

        <ng-template pTemplate="right">
            <div class="field col mb-0">
                <button pButton pRipple type="button" [style]="{'width':'150px'}"
                    label="{{ 'operations.addPayment' | translate }}" icon="pi pi-dollar" *ngIf="(master?.statusId===2)"
                    (click)="addPayment()" class="p-button-success"></button>
            </div>
            <div class="field col mb-0">
                <p-confirmPopup></p-confirmPopup>
                <p-menu #menu [popup]="true" [model]="menuItems" [style]="{'width':'200px'}"></p-menu>
                <button pButton pRipple [disabled]="(editable)" class="p-button-warning" type="button"
                    icon="{{sending? 'pi pi-spin pi-spinner' : 'pi pi-fw pi-cog'}}"
                    label="{{ 'operations.actions' | translate }}" (click)="menu.toggle($event)"></button>
            </div>
            <div class="field col mb-0">
                <button pButton pRipple type="button" label="{{ 'operations.print' | translate }}" icon="pi pi-print"
                    (click)="print()" *ngIf="printAuth == true"></button>
            </div>
        </ng-template>
    </p-toolbar>
    <!-- <button pButton pRipple type="button" (click)="getPdf()">getPdf</button> -->
    <div class="layout-invoice-content">
        <div class="card">
            <div class="grid justify-content-center">
                <div [ngClass]="{'col-10': isPdf, 'col-12': !isPdf}" id="invoice" #invoice>
                    <div class="flex flex-column md:flex-row justify-content-between align-items-center p-3 border-2">
                        <div class="text-center">
                            <h5 class="mb-1 uppercase">
                                Oman United insurance Co.s.o.g
                            </h5>
                            <h6 class="capitalize my-0">(auto service division)</h6>
                            <p class="mb-0 capitalize font-medium">P.O.Box 235, postal code 100, muscat, sultanate of
                                oman</p>
                            <p class="capitalize font-medium">tel: 24503692, C.R. NO: 1237250</p>
                        </div>
                        <div class="mx-2 text-center">
                            <img width="100" src="assets/layout/images/united-logo.jpg" alt="invoice-logo" />
                        </div>
                        <div dir="rtl" class="text-center">
                            <h5 class="mb-1">
                                الشركة العمانية المتحدة للتأمين ش.م.ع.ع
                            </h5>
                            <h6 class="my-0">(قسم خدمات السيارات)</h6>
                            <p class="mb-0 font-medium">ص.ب 235, الرمز البريدي 100, مسقط, سلطنة عمان</p>
                            <p class="mb-0 font-medium">هانف: 24503692, فاكس: 24503692, س.ت. رقم: 1237250</p>
                        </div>
                    </div>
                    <h5 class="text-center">{{'orders.orderDetails.PurchaseOrder' | translate}}</h5>
                    <div class="p-3">
                        <div class="flex flex-wrap mb-3 justify-content-between">
                            <table class="">
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'common.supplier' | translate}}:
                                    </th>
                                    <td class="uppercase font-bold">{{masterDto.supplierName}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.supplierAdd' |
                                        translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.supplierAddress}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'common.customer' | translate}}:
                                    </th>
                                    <td class="uppercase font-bold">{{masterDto.customerName}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.customerAdd' |
                                        translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.customerAddress? masterDto.customerAddress : '-'}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.makeModel' |
                                        translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.claimTitle? masterDto.claimTitle : '-'}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.vinNumber' |
                                        translate}}</th>
                                    <td class="uppercase font-medium">{{masterDto.chassisNumber}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.jobCard' |
                                        translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.claimNumber? masterDto.claimNumber : '-'}}
                                    </td>
                                </tr>
                            </table>
                            <table class="">
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'orders.orderDetails.pageNo' |
                                        translate}}: </th>
                                    <td class="uppercase font-medium">1 of 1</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium"><span
                                            class="uppercase">{{'orders.orderDetails.lbo' | translate}}</span>
                                            {{'orders.orderDetails.number' | translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.id}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium"><span
                                            class="uppercase">{{'orders.orderDetails.lbo' | translate}}</span>
                                        {{'orders.table.date' | translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.createdAt | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'common.currency' | translate}}:
                                    </th>
                                    <td class="uppercase font-medium">{{masterDto.currency}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left capitalize font-medium">{{'common.country' | translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.country}}</td>
                                </tr>
                            </table>
                        </div>
                        <p class="uppercase">
                            {{'orders.orderDetails.tableNote' | translate}}
                        </p>
                        <p-table *ngIf="bidList.length > 0" [columns]="dataCols" [value]="bidList"
                            styleClass="p-invoice-datatable-responsive pb-3" [loading]="isLoading" responsiveLayout="scroll">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-order let-columns="columns">
                                <tr>
                                    <td>
                                        {{bidId}}
                                    </td>
                                    <td>
                                        {{order.part?.name}}
                                    </td>
                                    <td>
                                        {{order.unit}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : order.qty}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : (order.originalPrice | number)}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : (order.originalPrice | number)}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : order.discount? order.discountType == 'fixed'? order.discount : order.discount
                                        + '%': 0}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : (order.vat | number)}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : (order.taxAmount | number)}}
                                    </td>
                                    <td>
                                        {{order.originalPrice == 0? "-" : (order.price | number)}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary" *ngIf="bidList.length == 0">
                                <div class="flex align-items-center justify-content-between">
                                    {{'orders.table_footer' | translate: {length: bidList ? bidList.length : 0} }}
                                </div>
                            </ng-template>
                        </p-table>
                        <div class="flex justify-content-between align-items-end mt-3">
                            <!-- <p class="mb-0 capitalize font-medium">
                                   {{order.totalAmount | numToWords}}
                                </p> -->
                            <table class="ml-auto">
                                <tr>
                                    <th class="text-left uppercase font-medium">{{'orders.orderDetails.grossTotal' |translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.orderAmount == 0? "-" : masterDto.orderAmount | number}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left uppercase font-medium">{{'orders.orderDetails.vatAmount' | translate}}: </th>
                                    <td class="uppercase font-medium">{{totalVat == 0? "-" : totalVat | number}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left uppercase font-medium">{{'orders.orderDetails.netTotal' | translate}}: </th>
                                    <td class="uppercase font-medium">{{masterDto.totalAmount | number}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-dialog [(visible)]="confirmActionDialog" header="{{ 'operations.confirmAction' | translate}}" [modal]="true"
        [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span><b>{{ 'operations.confirmActionMessage' | translate }}</b></span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'USER.DIALOG.PROMPTNOOPTION' | translate}}"
                (click)="confirmActionDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'USER.DIALOG.PROMPTYESOPTION' | translate}}" (click)="confirm()"></button>
        </ng-template>
    </p-dialog>

</div>

