<div class="layout-invoice-page" *ngIf="master">
    <p-toast></p-toast>

    <p-toolbar styleClass="mb-3 align-items-start">
        <ng-template pTemplate="left">
            <app-details-card [master]="master" [role]="viewAuth" (editJobNumber)="onEditJobNumber(master)"></app-details-card>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="field col">
                <p-confirmPopup></p-confirmPopup>
                <p-menu #menu [popup]="true" [model]="menuItems" [style]="{'width':'200px'}"></p-menu>
                <button pButton pRipple [disabled]="editAuth==false" class="mb-3 p-button-warning" type="button"
                    icon="pi pi-fw pi-cog" label="{{ 'operations.actions' | translate }}"
                    (click)="menu.toggle($event)"></button>
            </div>
            <div class="field">
                <button *ngIf="master" pButton pRipple label="{{ 'part.addPart' | translate }}"
                    icon="pi pi-plus" (click)="openNew()" class="p-button-success mr-2 mb-3"
                    [disabled]="!(master.status.id == 1 && editAuth==true)"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div class="grid layout-invoice-content">
        <div class="col-12">
            <!-- <div class="card"> -->
            <div class="mt-5">
                <p-tabView (onChange)="handleChange($event)" [(activeIndex)]="activeTab">
                    <p-tabPanel header="{{ 'request.title' | translate }}">
                        <div class="pt-5 text-center" *ngIf="isFetching">
                            <p-progressSpinner [style]="{width: '50px', height: '50px', textAlign: 'center'}"
                                styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)"
                                animationDuration=".5s"></p-progressSpinner>
                        </div>
                        <div class="py-5 text-center" *ngIf="!isFetching && fillteredDetails.length  == 0">
                            this job has no requests
                        </div>
                        <p-table *ngIf="fillteredDetails.length > 0" dataKey="id" #dt [columns]="cols" [rows]="10"
                            [value]="fillteredDetails" styleClass="p-invoice-datatable-responsive pb-3"
                            [paginator]="true"  responsiveLayout="scroll">
                            <ng-template pTemplate="caption" class="pb-0">
                                <div class="border-300 border-bottom-1">
                                    <ng-container *ngFor="let state of status">
                                        <button (click)="filterByStatus(state)" pButton pRipple type="button"
                                            label="{{state}}"
                                            [ngClass]="{'active': selectedState == state, 'text-black-alpha-40': selectedState !== state}"
                                            class="mr-3 p-button-text"></button>
                                    </ng-container>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th pColumn="id">{{ 'common.id' | translate }}</th>
                                    <th pColumn="requestTitle">{{ 'request.tableColumn.requestTitle' | translate}}
                                    </th>
                                    <!-- <th pColumn="privacy">{{ 'request.tableColumn.privacy' | translate }}</th> -->
                                    <th pColumn="part.name">{{ 'request.tableColumn.partName' | translate }}</th>
                                    <th pColumn="part.qty">{{ 'common.qty' | translate }}</th>
                                    <th pColumn="part.partTypes">{{ 'request.tableColumn.partTypes' | translate}}
                                    </th>
                                    <th pColumn="status.nameEn">{{ 'common.status' | translate }}</th>
                                    <th [hidden]="editAuth == false" style="text-align:center">
                                        {{'operations.actions' | translate }}</th>
                                    <th [hidden]="editAuth == false" style="text-align:center">{{ 'bid.title' | translate }}
                                    </th>
                                    <th [hidden]="editAuth == false" style="text-align:center">
                                        {{'bid.tableColumn.notInterested' | translate }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-request>
                                <tr *ngIf="role > 1 && request.status.id == 7? false : true">
                                    <td>
                                        {{request.id}}
                                    </td>
                                    <td>
                                        {{request.requestTitle}}
                                    </td>
                                    <!-- <td>
                                        {{request.privacy ? request.privacy : 'Public'}}
                                    </td> -->
                                    <td>
                                        {{request.part.name}}
                                    </td>
                                    <td>
                                        {{request.qty ? request.qty : 1}}
                                    </td>
                                    <td>
                                        {{getPartTypesAsString(request.partTypes)}}
                                    </td>
                                    <td>
                                        {{request.status.nameEn}}
                                    </td>
                                    <ng-container>
                                        <td [hidden]="printingMode || editAuth == false" style="text-align:center">
                                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                                (click)="editRequest(request)"
                                                [disabled]="!(master.status.id == 1 && editAuth==true) || disabledRequest(request)"
                                                class="p-button-rounded p-button-text hidden-print"></button>
                                            <button pButton pRipple type="button" icon="pi pi-times"
                                                (click)="deleteAction(request || deleteAuth == true)"
                                                [disabled]="!(master.status.id == 1 && editAuth==true) || disabledRequest(request)"
                                                class="p-button-rounded p-button-text hidden-print"></button>
                                        </td>
                                    </ng-container>
                                    <td [hidden]="viewAuth == false">
                                        <button pButton pRipple icon="pi pi-eye" [disabled]="disabledRequest(request)"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBidsByRequest(request)"></button>
                                    </td>
                                    <td [hidden]="viewAuth == false" class="text-center  px-0">
                                        <button pButton pRipple icon="pi pi-user-minus"
                                            [disabled]="disabledRequest(request)"
                                            class="p-button-rounded p-button-secondary p-button-outlined mr-2"
                                            (click)="viewNotInterestedSuppliers(request.id)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="viewAuth == true" header="{{ 'job.tableColumn.receivedBids' | translate: {type: 'Suppliers'} }}">
                        <div class="py-5 px-3">
                            <button *ngIf="supplierBids.length > 0" (click)="onCompareBids()" pButton pRipple type="button" label="Compare Bids"
                                class="p-button-rounded bg-indigo-100 text-indigo-600 border-0 font-light px-5"></button>
                        </div>
                        <div class="pb-3 text-center" *ngIf="supplierBids.length  == 0">
                            this job has no bids yet.
                        </div>
                        <p-table [columns]="cols" [rows]="10" [value]="supplierBids"
                            styleClass="p-invoice-datatable-responsive pb-3" *ngIf="visible && supplierBids.length > 0" [paginator]="true"  responsiveLayout="scroll">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>Select</th>
                                    <th pColumn="supplierName">{{ 'bid.tableColumn.supplierName' | translate: {type: 'Supplier'} }}</th>
                                    <th pColumn="status">{{ 'bid.tableColumn.status' | translate }}</th>
                                    <th pColumn="bidDate">{{ 'bid.tableColumn.bidDate' | translate }}</th>
                                    <th pColumn="bidValue">{{ 'bid.tableColumn.bidValue' | translate }}</th>
                                    <th pColumn="submittedBids">{{ 'bid.tableColumn.submittedBids' | translate }}
                                    </th>
                                    <th [hidden]="printingMode===true">{{
                                        'bid.title' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-bid>
                                <tr>
                                    <td>
                                        <p-checkbox [binary]="true" (onChange)="onToggleBid(bid)"></p-checkbox>
                                    </td>
                                    <td>
                                        {{bid.supplierName}}
                                    </td>
                                    <td>
                                        {{getStatusName(bid.statusId)}}
                                    </td>
                                    <td>
                                        {{bid.bidDate | date: 'dd/MM/yyyy hh:mm'}}
                                    </td>
                                    <td>
                                        {{getTotalPriceForSupplier(bid.supplierId) | number}}
                                    </td>
                                    <td>
                                        {{getTotalSubmittedBidsForSupplier(bid.supplierId)}}
                                    </td>
                                    <td [hidden]="printingMode==true">
                                        <button pButton pRipple icon="pi pi-eye"
                                            class="p-button-rounded p-button-success mr-2"
                                            (click)="viewBidsBySupplier(bid)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
                    <p-tabPanel *ngIf="viewAuth == false" header="{{ 'job.tableColumn.addBids' | translate }}">
                        <app-new-bid *ngIf="details.length > 0" [requests]="details"></app-new-bid>
                    </p-tabPanel>
                </p-tabView>
            </div>

        </div>
        <p-dialog [(visible)]="bidDetailsDialog" [modal]="true" (onHide)="closeBidDialog()" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '80vw' }">
            <p-toolbar styleClass="my-3 md:mb-2 md:mt-0 width-100">
                <ng-template pTemplate="left">
                    <p *ngIf="partName" class="font-medium muted-text text-xl mb-2 md:mb-0">{{ 'bid.bidDialog.titleByPart' |
                        translate }} {{partName}}</p>
                    <p *ngIf="partName==null" class="font-medium muted-text text-xl mb-2 md:mb-0">{{
                        'bid.bidDialog.titleBySupplier' | translate }} {{supplierName}}</p>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="grid p-fluid">
                        <div class="col-6 md:col-6">
                            <button pButton pRipple type="button" label="{{ 'operations.approve' | translate }}"
                                icon="pi pi-check" (click)="approveMultipleBidDialog = true"
                                [disabled]="selectedEntries.length == 0 || selection == 'single'  || editAuth == false"
                                class="p-button-success mr-2"></button>
                        </div>
                        <div class="col-6 md:col-6">
                            <button pButton pRipple type="button" label="{{ 'operations.reject' | translate }}"
                                icon="pi pi-times" (click)="rejectMultipleBidDialog = true"
                                [disabled]="selectedEntries.length == 0 || editAuth ==false"
                                class="p-button-danger mr-2"></button>
                        </div>
                        <!-- <div class="col-12 md:col-2">
                            <button pButton pRipple type="button" icon="pi pi-times" (click)="closeBidDialog()"
                                class="mb-3"></button>
                        </div> -->
                    </div>
                </ng-template>
            </p-toolbar>
            <ng-template pTemplate="content">
                <p-table #dt [value]="bidDtos" [columns]="cols" [rows]="10" [paginator]="true"
                    [(selection)]="selectedEntries"  responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pColumn="id">{{ 'common.select' | translate }}
                            </th>
                            <th *ngIf="partName==null" pColumn="partName">{{ 'bid.bidDetails.partName' | translate
                                }}
                            </th>
                            <th *ngIf="partName" pColumn="supplierName">{{ 'bid.bidDetails.supplierName' | translate
                                }}
                            </th>
                            <th pColumn="partType">{{ 'bid.bidDetails.partType' | translate }}
                            </th>
                            <th pColumn="warranty">{{ 'bid.bidDetails.warranty' | translate }}
                            </th>
                            <th pColumn="deliverDays">{{ 'bid.bidDetails.deliverDays' | translate }}
                            </th>
                            <th pColumn="qty">{{ 'bid.bidDetails.qty' | translate }}
                            </th>
                            <th pColumn="originalPrice">{{ 'bid.bidDetails.originalPrice' | translate }}
                            </th>
                            <th pColumn="discount">{{ 'bid.bidDetails.discount' | translate }}
                            </th>
                            <th pColumn="vat">{{ 'bid.bidDetails.vat' | translate }}
                            </th>
                            <th pColumn="totalPrice">{{ 'bid.bidDetails.totalPrice' | translate }}
                            </th>
                            <th pColumn="vat">{{ 'common.notes' | translate }}
                            </th>
                            <th pColumn="status">{{ 'common.status' | translate }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-bid>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="bid" [disabled]="bid.statusId !== 1"></p-tableCheckbox>
                            </td>
                            <td *ngIf="partName==null">
                                {{bid.partName}}
                                <i (click)="showModal(bid)" style="cursor: pointer; border-right: 1px solid #dee2e6;"
                                    class="pi pi-images fs-large m-2 ml-3 text-blue-500"></i>
                            </td>
                            <td *ngIf="partName">
                                {{bid.supplierName}}
                                <i (click)="showModal(bid)" style="cursor: pointer; border-right: 1px solid #dee2e6;"
                                    class="pi pi-images fs-large m-2 ml-3 text-blue-500"></i>
                            </td>
                            <td>
                                {{bid.partType}}
                            </td>
                            <td>
                                {{bid.Warranty ? 0 : bid.warranty}} Days
                            </td>
                            <td>
                                {{bid.deliverDays ? 0 : bid.deliverDays}} Days
                            </td>
                            <td>
                                {{bid.qty}}
                            </td>
                            <td>
                                {{bid.originalPrice}}
                            </td>
                            <td>
                                {{bid.dicount ? 0 : bid.discount}}
                            </td>
                            <td>
                                {{bid.vat}}
                            </td>
                            <td>
                                {{bid.price | number}}
                            </td>
                            <td>
                                {{bid.comments}}
                            </td>
                            <td>
                                {{getStatusName(bid.statusId)}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            {{'bid.table_footer' | translate: {length: bidDtos ? bidDtos.length : 0} }}
                        </div>
                    </ng-template>
                </p-table>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{'max-width': '80vw'}" [resizable]="true">
            <ng-template pTemplate="header">
                {{modalPart.supplierName}}
            </ng-template>
            <div class="align-items-start flex justify-content-between mb-3" *ngIf="modalPart.bidImages; else noimages">
                <ng-container *ngFor="let img of modalPart.bidImages">
                    <div class="mr-2">
                        <img class="car-image rounded-large  shadow-3 mx-2"
                            src="{{'http://letsgo-oman.com:6060/api/v1/document/' + img.trim()}}"
                            alt="{{modalPart.partName}}">
                    </div>
                </ng-container>
            </div>
            <ng-template #noimages>
                <p-message severity="warn" text="{{'bid.bidDetails.noImgsBySupplier' | translate}}"
                    styleClass="mr-2"></p-message>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="detailDialog" [style]="{width: '800px'}"
            header="{{ 'request.requestDialog.title' | translate }}" [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <app-new-request (request)="onReq($event)" [type]="type" [requestDetails]="type == 'new req'? details : detail"
                    [edit]="updateRequest" [passedJob]="master"></app-new-request>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="updateRequest = !updateRequest"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSingleDialog" header="{{ 'operations.deleteConfirm' | translate }}" [modal]="true"
        [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="detail">{{ 'operations.cancelMessage' | translate }} <b>
                        Req #{{detail.id}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteSingleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmCancel(detail.id)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="approveMultipleBidDialog" header="{{ 'job.operations.approveBid' | translate }}"
            [modal]="true" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-check-circle mr-3" style="font-size: 2rem"></i>
                <span [ngStyle]="{color:'var(--green-700)'}">
                    <h6>{{ 'job.operations.approveMultipleBids' | translate }}</h6>
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
                    (click)="approveMultipleBidDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm"
                    (click)="approveMultipleBids()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="rejectMultipleBidDialog" header="{{ 'job.operations.rejectBid' | translate }}"
            [modal]="true" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-times-circle mr-3" style="font-size: 2rem"></i>
                <span [ngStyle]="{color:'var(--orange-700)'}">
                    <h6>{{ 'job.operations.rejectMultipleBids' | translate }}</h6>
                </span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
                    (click)="rejectMultipleBidDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Confirm"
                    (click)="rejectMultipleBids()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="confirmActionDialog" header="{{ 'operations.confirmAction' | translate}}" [modal]="true"
        [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span><b>{{ 'operations.confirmActionMessage' | translate }}</b></span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="confirmActionDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirm()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog contentStyleClass="customeDialoagContentt" styleClass="customeDialoag"
            header="{{ 'bid.compareBids' | translate }}" [(visible)]="displayCompareBids" [modal]="true"
            [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"[draggable]="false" [resizable]="false" (onHide)="onHideCompareBids()">
            <div class="p-datatable p-datatable-gridlines">
                <table class="p-datatable-table" id="bids-table" #bidsTable  responsiveLayout="scroll">
                    <thead class="p-datatable-thead">
                        <tr>
                            <th>{{ 'request.tableColumn.partName' | translate }}</th>
                            <th>{{ 'common.supplier' | translate }}</th>
                            <th>{{ 'bid.bidDetails.partType' | translate }}</th>
                            <th>{{ 'bid.bidDetails.warranty' | translate }}</th>
                            <th>{{ 'bid.bidDetails.deliverDays' | translate }}</th>
                            <th>{{ 'bid.bidDetails.qty' | translate }}</th>
                            <th>{{ 'bid.bidDetails.originalPrice' | translate }}</th>
                            <th>{{ 'bid.bidDetails.discount' | translate }}</th>
                            <th>{{ 'bid.bidDetails.price' | translate }}</th>
                            <th>{{ 'bid.bidDetails.vat' | translate }}</th>
                            <th>{{ 'bid.bidDetails.totalPrice' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody class="p-element p-datatable-tbody">
                        <tr *ngFor="let part of groupedBypart">
                            <th class="border-1 border-300">{{part.partName}}</th>
                            <td class="p-0">
                        <tr class="flex flex-column">
                            <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                class="p-2" *ngFor="let bid of part.bids; let i = index">
                                {{bid.supplierName}}
                            </td>
                        </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.partType}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">{{bid.warranty}}</td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.deliverDays}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.qty}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.originalPrice}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.discount}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.price}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.vat}}
                                </td>
                            </tr>
                        </td>
                        <td class="p-0">
                            <tr class="flex flex-column">
                                <td [ngClass]="{'border-black-alpha-10 border-bottom-1': i !== (part.bids.length - 1)}"
                                    class="p-2" *ngFor="let bid of part.bids; let i = index">
                                    {{bid.price}}
                                </td>
                            </tr>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template pTemplate="footer">
                <div class="text-center pt-3">
                    <p-button (click)="downloadPdf()" label="{{ 'bid.bidDialog.download' | translate }}"
                        [disabled]="printAuth===false"
                        styleClass="p-button bg-indigo-100 text-indigo-600 border-0 font-light px-5"></p-button>
                    <p-button (click)="displayCompareBids=false" label="{{ 'bid.bidDialog.changeSupp' | translate: {'name' : 'Supplier'} }}"
                        styleClass="p-button"></p-button>
                </div>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="masterDialog"  [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }" header="{{ 'job.jobDialog.title' | translate }}"
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="grid">
                    <div class="field col-12" *ngIf="jobDto.jobNumber">
                        <label for="jobNo">{{ 'job.tableColumn.jobNo' | translate }}</label>
                        <input type="text" pInputText id="jobNo" [(ngModel)]="jobDto.jobNumber" required autofocus />
                        <small class="p-error" *ngIf="submitted && !jobDto.jobNumber">{{
                            'job.form.jobNoRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <app-privacy type="job" label="{{ 'job.form.privacy' | translate }}"
                        [selectionList]="privacyList"
                        [suppliersControl]="suppliers"
                        [privacyControl]="privacy"
                        [id]="2"></app-privacy>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideJobNoDialog()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="updateJob()"
                    [disabled]="!(jobDto.status == 1 && editAuth===true)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog contentStyleClass="customeDialoagContentt" styleClass="customeDialoag"
            header="{{ 'bid.tableColumn.notInterestedSuppliers' | translate }}" [(visible)]="displayNotInterestedSuppliers"
            [modal]="true" [draggable]="false" [resizable]="false"
            (onHide)="onHideNotIntrestedSupplier()" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '50vw' }">
            <div class="p-datatable p-datatable-gridlines">
                <p-table [columns]="cols" [rows]="10" *ngIf="notInterestedSuppliers.length > 0"
                    [value]="notInterestedSuppliers" styleClass="p-invoice-datatable-responsive"  responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                {{ 'bid.tableColumn.supplierName' | translate }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-supplier>
                        <tr>
                            <td>{{supplier.name}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-dialog>
    </div>
</div>
