<div class="relative">
    <div *ngIf="role== 2" class="field col-12 md:col-6 text-center mx-auto absolute">
        <h1 class="text-white">{{ 'bid.bidDetails.bidOnReq' | translate }}</h1>
        <span>
            <i class="pi pi-search z-1"></i>
            <p-autoComplete align="left"
                placeholder="{{ 'request.form.searchRequest' | translate }}"
                [(ngModel)]="searchTerm"
                (completeMethod)="search($event)"
                [suggestions]="searchResults"
                (onSelect)="onSelect($event)">
              <ng-template let-job pTemplate="item">
                <div class="dropdown-item">
                    <span class="partNames" style="font-weight: bold">{{ 'common.parts' | translate }}:</span>
                    <span class="partNames">{{ job.partNames }}</span>
                    <span class="partNames" style="font-weight: bold">  {{ 'common.for' | translate }}:</span>
                    <span class="partNames">{{ job.jobTitle }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
          </span>
    </div>
    <div *ngIf="role== 1" class="field col-12 md:col-6 text-center mx-auto absolute">
        <h1 class="text-white">{{ 'request.tableColumn.homePage' | translate }}</h1>
    </div>
    <img class="img-fluid width-100" src="assets/layout/images/supplier-header-bg.png" alt="">
</div>
<div *ngIf="role== 2" class="grid justify-content-center mx-auto p-3 md:p-5  mb-5">
    <div class="col-12">
        <h4>{{ 'bid.bidDetails.Reqlatest' | translate }}</h4>
    </div>
    <div class="col-12 md:col-4" *ngFor="let req of latestRequest">
        <p-card header="{{req.jobTitle}}" subheader=""
            styleClass="p-card-shadow height-100 dashbaord-card">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
            </ng-template>
            <div>
                <h6 class="font-bold mb-2">{{ 'bid.bidDetails.partsRequirments' | translate }}</h6>
                <ng-container *ngFor="let part of req.parts; let i = index;">
                    <p *ngIf="i <= 2" class="mb-0">
                        {{part}}
                    </p>
                </ng-container>
                <a *ngIf="req.parts.length > 2">...{{ 'bid.bidDetails.seeAll' | translate }}</a>
            </div>
            <ng-template pTemplate="footer">
                <p-button styleClass="width-100 mb-3" label="{{role == 1? 'View Bid': 'Bid Now'}}" (click)="onBid(req)"></p-button>
            </ng-template>
        </p-card>
    </div>
</div>
<div *ngIf="role== 1" class="grid justify-content-center mx-auto p-3 md:p-5  mb-5">
    <h5>{{ 'request.tableColumn.newRequest' | translate }}</h5>
    <app-newjob></app-newjob>
</div>

