<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>

        <!-- //Tenant Components  -->
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="{{ 'operations.new' | translate }}" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2" (click)="open()" [disabled]="newAuth===false"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="masterDtos" [columns]="cols" [rows]="10" [paginator]="true"
                [globalFilterFields]="['id','name', 'cr', 'phone']"
                [(selection)]="selectedEntries" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onFilter)="onFilter($event, dt)"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between table-header">
                        <h5 class="m-0">{{'supplier.title' | translate }}</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="{{ 'operations.filter' | translate }}" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">{{'common.id' | translate }}<p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pColumn="name">{{'supplier.supplierDialog.name' | translate }}
                        </th>
                        <th pColumn="cr">{{ 'supplier.supplierDialog.cr' | translate }}
                        </th>
                        <th pColumn="phone">{{ 'supplier.supplierDialog.phone' | translate }}
                        </th>
                        <th pColumn="status">{{'common.status' | translate }}
                        </th>
                        <th pColumn="actions">{{'common.actions' | translate }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-supplier let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1}}
                        </td>
                        <td>
                            {{supplier.name}}
                        </td>
                        <td>
                            {{supplier.cr}}
                        </td>
                        <td>
                            {{supplier.phone? supplier.phone : "-"}}
                        </td>
                        <td>
                            <p-inputSwitch class="" [(ngModel)]="supplier.enabled" (onChange)="changeStatus(supplier.id, supplier.enabled)"></p-inputSwitch>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" [disabled]="!editAuth"
                              (click)="edit(supplier.id)"></button>
                          </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        {{'supplier.table_footer' | translate: {length: masterDtos ? masterDtos.length : 0} }}
                    </div>
                </ng-template>
            </p-table>
        </div>

        <!-- add/update tenant dialog -->
        <p-dialog [(visible)]="masterDialog" [style]="{width: '700px', height: '80%'}"
            header="{{ 'supplier.supplierDialog.title' | translate }}" [modal]="true" styleClass="p-fluid py-5">
            <ng-template pTemplate="content">
                <div class="formgrid grid py-5">
                    <div class="field col-12 md:col-6">
                        <label for="name">{{ 'supplier.supplierDialog.name' | translate }}</label>
                        <input type="text" pInputText #name="ngModel" [(ngModel)]="master.name" required
                            autofocus />
                        <small class="p-error" *ngIf="name.invalid && name.dirty">{{ 'supplier.supplierDialog.nameRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>{{ 'supplier.supplierDialog.phone' | translate }}</label>
                        <input type="text" pInputText #phone="ngModel" [(ngModel)]="master.phoneNumber"
                            required />
                            <small class="p-error" *ngIf="phone.invalid && phone.dirty">{{ 'supplier.supplierDialog.poneRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="cr">{{ 'supplier.supplierDialog.cr' | translate }}</label>
                        <input type="text" pInputText #cr="ngModel" [(ngModel)]="master.cr" required />
                        <small class="p-error" *ngIf="cr.invalid && cr.dirty">{{ 'supplier.supplierDialog.crRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="parts">{{ 'supplier.supplierDialog.part' | translate }}</label>
                        <p-multiSelect appendTo="body" #parts="ngModel" [options]="partTypesList" [(ngModel)]="selectedPartTypesList" defaultLabel="Select part types" optionLabel="partType" required></p-multiSelect>
                        <div class="text-left">
                                <small *ngIf="parts.invalid && parts.dirty" class="p-error block pt-1">{{ 'supplier.supplierDialog.partRequired' | translate }}</small>
                            </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="services">{{ 'supplier.supplierDialog.service' | translate }}</label>
                        <p-multiSelect appendTo="body" #services="ngModel"  [options]="serviceTypesList" [(ngModel)]="selectedServiceTypesList" defaultLabel="Select service types" optionLabel="name" selectedItemsLabel="{0} items selected" required></p-multiSelect>
                        <small *ngIf="services.invalid && services.dirty" class="p-error block pt-1">{{ 'supplier.supplierDialog.serviceRequired' | translate }}</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="brands">{{ 'supplier.supplierDialog.brand' | translate }}</label>
                        <p-multiSelect appendTo="body" #brands="ngModel"  [options]="brandsList" [(ngModel)]="selectedBrandsList" defaultLabel="Select brand types" optionLabel="brandName" selectedItemsLabel="{0} items selected" required></p-multiSelect>
                        <small *ngIf="brands.invalid && brands.dirty" class="p-error block pt-1">{{ 'supplier.supplierDialog.brandRequired' | translate }}</small>
                    </div>
                    <div class="field col-12">
                        <p-message severity="error" text="{{ 'common.formRequired' | translate }}" *ngIf="submitted"></p-message>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'operations.cancel' | translate}} " icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ 'operations.save' | translate }}" icon="pi pi-check"
                    class="p-button-text" (click)="save()" [disabled]="!(editable)"></button>
            </ng-template>
        </p-dialog>
    </div>
